<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>Travel Insurance</h1>
                    <p>Looking for exciting plans with <strong>Gaadi Insurance</strong> to receive cashless hospitalization anywhere in the world.</p>
                    <p>Wherever you are, don't stress about quality. Utilize <strong>travel insurance plans</strong> that offer international cashless hospitalization services so you can travel without worrying.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Features and benefits of Travel Insurance!</h3>
                    <p>For unforeseeable medical and non-medical emergencies, travel insurance offers the best protection.
                    </p>
                    <ul class="points_list_css">
                        <li>Take advantage of coverage for medical expenses of up to USD 0.6 million.</li>
                        <li>Before granting insurance, there is no medical checkup.</li>
                        <li>Provides comprehensive coverage</li>
                        <li>Provides the convenience of global coverage and prompt help. 24/7</li>
                        <li>Fair, open, and speedy cashless claim resolution</li>
                    </ul>
                    <h3>Travel Insurance Coverage by our company: </h3>
                    <p>Our <strong>travel insurance policy</strong> covers the following:</p>
                    <ul class="points_list_css">
                        <li>We cover medical expenses, including those for repatriation and evacuation, with a benefit of between US$40,000 and US$4,00,000.</li>
                        <li>We protect the insured in the event of a personal accident and pay benefits up to 10% of the coverage limit, up to a maximum of USD 20,000.</li>
                        <li>If the limit of cover under Section (A) is $2,000,000 or less, the personal liability benefit offered is 50% of that amount.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="add_banners">
                    <div class="mb_15"><img src="assets/images/sidebar1.png" alt="car insurance"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt_20">
                    <h3>Quick claims resolutions</h3>
                    <ul class="points_list_css">
                        <li>We provide 24/7 assistance. </li>
                        <li>Additionally to a cashless and paperless claims process, your automobile will be picked up for free and repaired within three days. </li>
                    </ul>
                    <h3>Are you looking for the eligibility criteria!</h3>
                    <ul class="points_list_css">
                        <li>The minimum age limit is six months, while the highest age limit is 65 years.</li>
                        <li>ou may purchase this insurance policy if you are an Indian citizen traveling abroad for work, pleasure, or other reasons.</li>
                        <li>This protection is also available to foreign nationals working in India.</li>
                    </ul>
                    <h3>Documents Needed to Purchase our Travel Insurance Plans!</h3>
                    <p>You need the following paperwork to buy travel insurance:</p>
                    <ul class="points_list_css">
                        <li>Form of proposal</li>
                        <li>Form of employee notification</li>
                        <li>A duplicate of the tickets</li>
                        <li>passport photocopy</li>
                        <li>KYC specifics</li>
                    </ul>
                    <h3>Categories of our Travel Insurance!</h3>
                    <p>There are two main categories of general travel insurance offered by Gaadi Insurance company,
                        <strong>international travel insurance</strong> and student travel insurance. These are the substantial advantages of each plan.
                    </p>
                    <h3>Travel Insurance Abroad</h3>
                    <ul class="points_list_css">
                        <li>Policyholders receive global cashless hospitalization services.</li>
                        <li>Passport replacement costs, as well as baggage loss charges, are both reimbursed.</li>
                        <li>Customers who purchase the foreign travel insurance plan can select from various plans, from individual insurance options to a single coverage for the entire family.</li>
                        <li>This policy will pay for expenses incurred due to missed flights, canceled vacations, or delayed travel.</li>
                    </ul>
                    <h3>Other benefits include:</h3>
                    <ul class="points_list_css">
                        <li>No paperwork.</li>
                        <li>No medical examination for those under 65.</li>
                        <li>A selection of plans that cover all popular trip destinations.</li>
                    </ul>
                    <div class="add_banner mb_25">
                        <img src="assets/images/full_ad_banner4.png" alt="car insurance">
                    </div>
                    <h3>Travel Insurance for Students</h3>
                    <ul class="points_list_css">
                        <li>We offer affordable student travel insurance with no documentation requirements.</li>
                        <li>Can modify the travel insurance packages to meet the needs of the students.</li>
                        <li>Students can take advantage of sponsor protections, compassionate visit rewards, study disruption coverage, and bail bonds with this travel insurance package.</li>
                        <li>Before issuing an insurance policy, there is no need for a medical exam.</li>
                    </ul>
                    <p>Other advantages of our company, student travel insurance, include:</p>
                    <ul class="points_list_css">
                        <li>Hassle-free claims processing.</li>
                        <li>Quick payments.</li>
                        <li>Flexible insurance plans that may last up to two years.</li>
                    </ul>
                    <h3>Eligibility for Student Travel Insurance!</h3>
                    <ul class="points_list_css">
                        <li>Candidates must not be international students.</li>
                        <li>Applicants must be at least 18 years old and no older than 35. For 30 days to two years, applicants are eligible for insurance worldwide—no medical examination.</li>
                    </ul>
                    <h3>Exclusions from the Student Travel Insurance Policy:</h3>
                    <p>The following situations are not covered by this travel insurance policy's damage coverage:</p>
                    <ul class="points_list_css">
                        <li>Any conflicts, domestic or foreign</li>
                        <li>Suicide attempt</li>
                        <li>Terrorist acts</li>
                        <li>Problems brought on by drug and alcohol addiction</li>
                        <li>AIDS/HIV</li>
                        <li>Mental illnesses</li>
                        <li>Impacts resulting from engaging in dangerous adventure sports</li>
                    </ul>
                    <h3>Annual Multi-Trip Insurance:</h3>
                    <ul class="points_list_css">
                        <li>We are primarily made for regular international travelers who must travel overseas for work or pleasure.</li>
                        <li>This policy spares you the headache of purchasing a new travel insurance policy for each global journey.</li>
                    </ul>
                    <h3>Travel insurance for senior citizens</h3>
                    <ul class="points_list_css">
                        <li>We make this policy for those over 65.</li>
                        <li>Individuals of this age group can go overseas for various purposes, such as vacationing or seeing their children.</li>
                        <li>Our travel insurance policy provides coverage for multiple emergencies under all conditions.
                        </li>
                    </ul>
                    <h3>Tax reduction: Want to apply for our Travel Insurance Online!</h3>
                    <p>Want to apply for our Travel Insurance Online!</p>
                    <ul class="points_list_css">
                        <li>Individuals</li>
                        <li>Family</li>
                        <li>Student</li>
                        <li>Annually several trips</li>
                        <li>Please enter your birthdate.</li>
                    </ul>
                    <h3>Choose the nation you are visiting:</h3>
                    <ul class="points_list_css">
                        <li>Schengen</li>
                        <li>world, including the USA and Canada</li>
                        <li>Asia</li>
                        <li>world, excluding the USA and Canada</li>
                        <li>Input your travel dates, email address, and phone number before selecting "Get Quote."</li>
                        <li>Choose appropriate plans and coverage, then pay the appropriate premium.</li>
                        <li>Your mail ID will receive your Gaadi Insurance travel insurance policy as a Document.</li>
                    </ul>
                    <h3>Are you looking for what travel insurance covers!</h3>
                    <ul class="points_list_css">
                        <li>Travel insurance covers medical risks, travel risks, and aircraft delays.</li>
                        <li>Our Travel insurance is simple to purchase online and ensures a hassle-free trip by covering all potential dangers. </li>
                    </ul>
                    <p>Here are a few justifications for the importance of a travel insurance policy:</p>
                    <h3>Protection from unexpected medical costs.</h3>
                    <ul class="points_list_css">
                        <li>Any medical emergency traveling can make people anxious, especially in a strange place.</li>
                        <li>Our best travel insurance policy ensures that the costs of receiving appropriate medical care and hospitalizations are covered.</li>
                    </ul>
                    <h3>Protection against luggage loss</h3>
                    <ul class="points_list_css">
                        <li>You will be compensated based on the amount insured if your luggage is lost.</li>
                    </ul>
                    <h3>Replacement costs for lost passports or papers</h3>
                    <ul class="points_list_css">
                        <li>The insured is compensated for any costs incurred for replacing lost passports or other credentials based on the amount covered.</li>
                    </ul>
                    <h3>Coverage for flight cancellations.</h3>
                    <ul class="points_list_css">
                        <li>If your flight is canceled or delayed, you will be compensated or refunded under the policy schedule.
                        </li>
                    </ul>
                    <p>However, it is advised that you read the policy terms carefully while purchasing an insurance plan, as the advantages and protection for domestic and foreign travel insurance plans vary.</p>
                    <h3>What Travel Insurance Doesn't Cover</h3>
                    <p>Breaking the Law</p>
                    <ul class="points_list_css">
                        <li>Our plan does not provide coverage for illnesses or injuries brought on by war or by breaking the law.</li>
                    </ul>
                    <h3>Consumption of Drugs and Alcohol</h3>
                    <ul class="points_list_css">
                        <li>Our policy will not accept claims if you use illegal or intoxicating substances.</li>
                    </ul>
                    <h3>Pre-Existing Conditions</h3>
                    <ul class="points_list_css">
                        <li>Our policy does not cover costs associated with illnesses you have before the travel you've insured or any treatment you receive for an ailment you already have.</li>
                    </ul>
                    <h3>Treatment for obesity and cosmetics</h3>
                    <ul class="points_list_css">
                        <li>These costs are not covered if you or any family member decides to get cosmetic surgery or treatment for obesity while on the trip you've insured.</li>
                    </ul>
                    <h3>Want to know which travel insurance is best!</h3>
                    <p>Essential things to think about when purchasing travel insurance and figure out the requirements which result in the best travel insurance policy; however, you must know:</p>
                    <ul class="points_list_css">
                        <li>Know what you need regarding medical emergencies, delays, or cancellations, and then choose a thick cover.</li>
                        <li>It will be useful to have some basic information on the insurance company's support.</li>
                        <li>Before selecting a plan, compare the features, advantages, and exclusions of different plans and providers.</li>
                    </ul>
                    <p>Consider your travel plans, the location of your visit, and the length of your trip to choose the type of insurance that will work best for you.</p>
                    <h3>What makes our international travel insurance so fantastic!</h3>
                    <ul class="points_list_css">
                        <li>Zero Deductibles: If you file a claim, we will cover all costs; you won't be responsible for anything.
                        </li>
                        <li>Adventure Sports Included - We cover sports like skydiving, bungee jumping, and scuba diving (provided the duration is one day)</li>
                        <li>We don't want to continue wasting your time, so we provide immediate monetary compensation for flight delays. Because of this, we provide you with a fixed and prompt bonus of Rs 500 when your flight is delayed for longer than 6
                            hours.</li>
                        <li>Mobile phone Processes - No running around or paperwork. Upload your required documents when filing a claim.</li>
                        <li>If you contact us and we don't pick up, we'll call you back in 15 minutes. No more fees for getting abroad!</li>
                    </ul>
                    <h3>Are you looking for international travel insurance plans that are customized for you!</h3>
                    <p>The Basic Package includes coverages for the most frequent emergencies while traveling abroad.
                    </p>
                    <h3>Pleasure Choice</h3>
                    <ul class="points_list_css">
                        <li>Our insurance keeps you safe from every snag while covering the most typical mishaps on your vacation, ensuring everything goes according to plan.</li>
                    </ul>
                    <h3>What Makes Travel Insurance Comparison Important!</h3>
                    <p>With so many travel insurance options available in India, choosing the best plan might be confusing. Comparing several travel insurance policies becomes the most effective technique to evaluate them and determine which insurer provides
                        the most benefits in such circumstances.</p>
                    <p>It's crucial to remember that travel insurance policies differ depending on your needs, so what may be adequate for someone else may not be for you. Sometimes, choosing a particular travel insurance coverage could be irrelevant and
                        expensive.</p>
                    <p><strong>Travel insurance compare</strong> is essential here since your travel insurance plan should provide the protection you need while staying within your means. For instance, several factors will affect your travel insurance plan:
                    </p>
                    <ul class="points_list_css">
                        <li>If there are any current medical issues with the traveler</li>
                        <li>If the trip's timeframe is restricted in any way</li>
                        <li>The traveler's age</li>
                        <li>Amount of passengers</li>
                        <li>Preferred location</li>
                        <li>The amount insured and the selection of the insurance</li>
                        <li>If choosing any extras</li>
                    </ul>
                    <p>You can select the insurance advantages for things you don't need from many <strong>travel
                            insurance in India,</strong> which would cost you less than standard prices. These and other factors make comprehending a plan's advantages challenging and may cause you to get travel insurance that is inappropriate for your
                        needs.</p>
                    <h3>Want to know our “PORTABILITY OF TRAVEL INSURANCE”!</h3>
                    <ul class="points_list_css">
                        <li>Travel insurance portability allows you to change insurers without sacrificing any of the rewards in your current policy.</li>
                        <li>We respect your privacy right and permit you to switch insurers. </li>
                        <li>We also encourage each one to take benefits of our plans' protection.</li>
                        <li>To ensure a seamless switch from one insurance provider to another, there is a procedure you must adhere to.</li>
                    </ul>
                    <h3>Register online and let us know the portability requirements.</h3>
                    <ul class="points_list_css">
                        <li>You must provide your current insurance company with 45 days' notice.</li>
                        <li>It is essential to remember that the new insurer decides how much a similar <strong>travel
                                insurance plan</strong> will cost.</li>
                    </ul>
                    <h3>Want to know the purpose to buy travel insurance!</h3>
                    <p>Every journey should have travel insurance since you never know what could occur while away from home. Million Americans bought insurance from us in 2020, confident because we covered the most frequent travel accidents. The main purpose
                        to purchase travel insurance are shown below.</p>
                    <p>Get an instant quotation for your upcoming journey.</p>
                    <ul class="points_list_css">
                        <li>You don't want to forfeit all of your funds if you have to postpone your travel.</li>
                        <li>Since mishaps can and frequently do occur while traveling.</li>
                        <li>Mainly because your health insurance probably won't be accepted elsewhere.</li>
                        <li>Considering that a medical emergency might be very costly.</li>
                        <li>Since lost luggage might make your trip miserable.</li>
                        <li>Sometimes, even professional travelers require some assistance.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt_40 faq_blocks">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions
                </h2>


                <div class="accordion border_none" id="accordionExample">
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do you need to buy travel insurance?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">No, not all nations need travelers to buy travel insurance. However, other countries, including Australia and the Schengen nations, have made it mandatory.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Describe the deductible. What makes it
                                necessary?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">A deductible is an cost you agree to pay toward your insurance coverage before filing claims. The deductible for unexpected medical expenses is typically applied to travel insurance coverage. It might also include baggage
                                    or travel interruption/cancellation insurance.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What does travel insurance mean?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Travel insurance aims to protect from potential hazards and financial losses. The dangers might be anything from simple annoyances like missed airplane connections and delayed luggage to severe problems like accidents or
                                    sickness. </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingFoure">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">How can I figure out the cost of a
                                travel insurance plan?</button>
                        </h2>
                        <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">To calculate your premium, utilize the online insurance premium calculator. Enter the insured amount, the insured person's birthdate, the number of trip days, and the insurance plan.</div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What does the policy's reference to
                                hijack distress cover mean?</button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">A lump sum is provided for each day of a trip delay, resulting in a delay of more than 12 hours due to a hijacking.</div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> How do I revoke my travel insurance
                                plan?</button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">You can revoke your insurance by submitting a letter to any branch office of Gaadi Insurance detailing the situation and including a copy of your passport. Will cancel the insurance within one day of registering the request,
                                    and the premium will be reimbursed to the specified account.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> If I end up in the hospital
                                throughout my semester, how would my student travel insurance policy help?</button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">If you are hospitalized for more than a month due to a disease, harm, or illness, you will receive compensation under the "Study Interruption" insurance.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"> Will the insured's costs for the
                                delayed journey be covered?</button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">If a flight is canceled or rescheduled at the common carrier's request owing to COVID-19, we will pay claims for food and housing costs if the trip is delayed abroad.</div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>