<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>Legal & Policies</h1>
                    <h3>Copyright Notice</h3>
                    <p>The contents of this site, including but not limited to the text and images herein and their arrangement, are the absolute property of Gaadi Insurance Brokers Private Limited (GIBL), Dwarka Phase 1, Sector 23, Dwarka, Delhi, 110077.
                        All Rights Reserved.</p>
                    <h3>Copyright</h3>
                    <p>It is the sole property of Gaadi Insurance Brokers Limited and protected by copyright as all text, graphics, logos, button icons, images, audio clips, digital downloads, and data compilations are included on this site.</p>
                    <h3>Trademarks</h3>
                    <p>All page marks indicating 'Gaadi Insurance Brokers' belong to Gaadi Insurance Brokers Limited. This site contains trademarks (collectively, "Trademarks") of Gaadi Insurance Brokers Limited, including graphics, logos, page headers,
                        button icons, scripts, and service names. No use of Gaadi Insurance Brokers' trademarks is permitted in connection with any product or service not provided by Gaadi Insurance Brokers Limited, or in any manner likely to confuse
                        customers, or in any manner disparaging or discrediting Gaadi Insurance Brokers Limited.</p>
                    <h3>Intellectual Property</h3>
                    <p>This website contains material that is protected under intellectual property laws, including, without limitation, texts, data, graphics, pictures, sounds, videos, logos, and icons. You may use this material for personal and noncommercial
                        purposes by the principles governing intellectual property laws. You are prohibited from using or modifying any other part of the Company's website without written authorization from the Company. Without our written consent, you
                        are not allowed to frame this site or use our proprietary marks as meta tags. Users are prohibited from using the site's contact information for unauthorized purposes, such as marketing. It is prohibited to use the site in a way
                        that interferes with its working or intercepts communication.
                    </p>
                    <h3>Users’ Comments and Information Collected</h3>
                    <p>Your posts on the Company's website are not subject to monitoring by the Company. If you transmit any information on projects, files, or other attachments to the Company through the website ('Material'), or comments other than personal
                        data, you warrant that none of this information infringes a third party's intellectual property rights other than applicable law. The material, information, and comments you provide will not be treated as confidential or proprietary.
                        Any information, material, or comments submitted by you constitutes an unlimited and irrevocable license by the Company to use, execute, show, modify and transmit such information, material or comments. Information provided by
                        the Company may be used in any manner the Company deems appropriate.
                    </p>
                    <p>We Information is collected from both direct and indirect sources. Data that identifies or identifies an individual (i.e., a natural person) is considered "personal data." Personal information is collected to monitor how the site is
                        used and to create products and services of the highest standard. Due to such use, there is no collection or storage of personally identifiable information. Your personal information will be handled according to the website's online
                        privacy policy if you submit it through this website. As a user of this site, you acknowledge that you are solely responsible for protecting your password and all acts performed using it. Please contact us using the contact information
                        provided in the appropriate sections of the site if you wish us to cease using your data.</p>
                    <h3>Copyright Notice</h3>
                    <p>The rights to all works are reserved. By the appropriate copyright laws, all material on this website belongs to Gaadi Insurance Brokers Limited. Content
                    </p>
                    <p>The contents of this website are provided on an "as is" basis without any warranties. Gaadi Insurance Has Not Made And Does Not Make Any Warranty Of Any Kind Whatever, Express Or Implied, Concerning The Contents Of This Site; And All
                        Implied Warranties Of Merchantability, Title, Non-Infringement, And Fitness For A Particular Purpose Are Hereby Disclaimed By Gaadi insurance. Gaadi Insurance will not cover any damages, losses, or claims. Whatsoever, No Matter
                        How Occasioned, In Connection With Access To Or Use Of The Contents Of This Site, In No Event Shall Gaadi insurance Be Liable For Any Special, Indirect, Exemplary Or Consequential Damages Or Any Damages Whatsoever, Including But
                        Not Limited To Loss Of Use, Data Or Profits, Without Regard To The Form Of Any Action Including But Not Limited To Contract Or Negligence Or Other Tortious Actions, Arising Out Of Or In Connection With The Use, Copying Or Display
                        Of The Content.
                    </p>
                    <p>While Gaadi insurance believes that the information is accurate, complete, and up-to-date, it is not guaranteed to be accurate, complete, or current. You must verify any information you rely on. Occasionally, Gaadi insurance may change
                        the products and/or services described herein. Still, Gaadi insurance does not guarantee that the information will be updated, and it disclaims any responsibility for any errors or omissions.</p>
                    <h3>Refund Policy</h3>
                    <p>A refund of a premium paid for an insurance product due to an erroneous transaction or cancellation will be made by direct credit or check as per the prevailing policy of the insurance company you have selected.</p>
                    <h3>Cancellation Policy</h3>
                    <p>As per the policy of the Insurance Company that you have chosen to buy the product from, if you cancel an insurance product, the premium will be refunded through direct credit or check.</p>
                    <h3>Disclaimer</h3>
                    <p>Please note that you are solely responsible for your use of this site. As-is, as-available condition applies to the site. It is the company's policy to ensure that information contained within is accurate and up-to-date, but cannot
                        expressly or impliedly guarantee or warrant the accuracy of any information contained within. Any feature or part of the site may be restricted or terminated at any time by us. In this site and all materials included on the company's
                        website, including historical information, you acknowledge and agree that they are provided for informational purposes only, and are not intended to be construed as a commercial offer, license, legal advice, or fiduciary relationship.
                        This site does not constitute, and does not constitute, a practice of giving advice, consulting, or providing services. Any information provided on this site should not be considered as a substitute for your own independent investigation.
                        Liability of our company subsidiaries, affiliates, licensors, and suppliers will be limited to the extent permitted by law where certain warranties cannot be excluded or limited.</p>
                    <p>You may not be able to purchase the products or services mentioned on this website in your country. A term such as "expect", "plan", "intend", etc., is used to indicate future trends, events, or circumstances. Statements relating to
                        future trends, events, or circumstances cannot be guaranteed since they are subject to varying and often unforeseeable factors. A forward-looking statement cannot guarantee future results, and actual results may differ materially
                        from those described in the forward-looking statement.</p>
                    <p>Any such statements will be updated at the discretion of the management. These terms and conditions should be reviewed regularly by you. Neither Gaadi Insurance Brokers Limited owns, controls, edits, nor endorses the information that
                        is posted on the website, including stock market data, rates, indices, prices, news, general market information, etc. ("third party information"). It is not a recommendation or an invitation to invest in Gaadi Insurance Brokers
                        Limited or any of its affiliates that the information on the website constitutes investment advice. Neither Gaadi Insurance Brokers Limited, nor its directors, officers, or employees, nor those of its affiliates, guarantee the
                        accuracy or completeness of any third party information, and neither is liable for any loss or damages caused by the use by a person of third party information.</p>
                    <p>You acknowledge and agree that in no event will we and/or our holding company subsidiaries, affiliates, or third party content providers, licensors and/or suppliers be liable for any direct, indirect, incidental, consequential, special,
                        exemplary, punitive or other damages relating to the use, misuse or inability to use this site or any "materials" (whether based on contract, tort, negligence, strict liability or otherwise, and even if we and/or our subsidiaries,
                        affiliates, licensors and/or suppliers has or have been advised of a possibility of damages); and that if you are dissatisfied with, or claim any damages relating to, any portion of this site, any "materials" or this agreement,
                        your sole and exclusive remedy is to discontinue using this site and all "materials". We and our holding company subsidiaries, affiliates, licensors, and suppliers' liability will be limited to the extent allowed by law in jurisdictions
                        that do not allow the exclusion or limitation of incidental or consequential damages. Data, details, statistics, or any other similar information ("information") provided on this website is the sole property of the company, and
                        you waive any rights to initiate legal action against the company in the event such data is lost, destroyed, used inappropriately, misused, or disclosed. You hereby keep the Company indemnified against any loss caused by its use
                        of such data.</p>
                    <h3>Client Data, Collection, and Use</h3>
                    <p>Gaadi insurance may also gather information about insurance companies that compete for its clients' insurance placements as well as information about names, industry codes, policy types, and policy expiration dates of its clients.</p>
                    <p>Databases are used to store this information.</p>
                    <p>When required by law, Gaadi insurance policy, or in response to a legal process, Gaadi may use or disclose information about its clients. Gaadi insurance and/or its affiliates may also access these databases for other purposes in addition
                        to serving Gaadi insurance clients, including providing consulting and other services to insurance companies for which Gaadi insurance and/or its affiliates may receive compensation.</p>
                    <p>Consequently, Gaadi insurance may transmit, use, store, and otherwise process the personal information Client provides as part of its services.</p>
                    <p>Please refer to Gaadi insurance Privacy Statement for additional information about Gaadi insurance data privacy practices.</p>
                </div>
            </div>
        </div>
    </div>
</section>