<section class="contact_page pt_30 mb_40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text_center pb_60">
                    <h1 class="fs_24 fw_800 text_red">ABOUT US !</h1>
                    <div class="fs_14">“WE ARE CUSTOMER CENTRIC AND RESULT ORIENTED ORGANISATIONAL WITH TIMELINES”
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img">
                    <img src="assets/images/about_us/make_us_unique.jpg" alt="#">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_content pt_60">
                    <h4 class="fs_24 text_red">The Key Points That Makes Us Unique Are:</h4>
                    <ul class="list_css">
                        <li>Experienced team of insurance professionals</li>
                        <li>Offering unique and tailor made products</li>
                        <li>Innovative customized solutions</li>
                        <li>Cost Effective solutions</li>
                        <li>Claims Advisory</li>
                        <li>Deep relationship with all major insurance companies</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_content mt_35">
                    <h4 class="fs_24 text_red">OUR MISSION</h4>
                    <div class="fs_14 mb_10">“To be INDIA’S Leading Risk & Insurance Solutions Provider”</div>
                    <div class="fs_18 text_dark mb_15">CONTINUED…</div>
                    <ul class="list_css">
                        <li>A dedicated team for around the clock support and services.</li>
                        <li>Placement capabilities across all lines of commercial and Retails lines of insurance business.</li>
                        <li>We encourage client feedback to constantly improve upon our activities.</li>
                        <li>We are Truthful, honest and transparent with all our stake holders & partners - clients, insurance companies and all Associates.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img pt_60">
                    <img src="assets/images/about_us/our_mission.jpg" alt="#">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fs_24 fw_700 text_red text_center mt_40 text_bottom_border pb_15 mb_25 d_block">OUR CORE COMPETENCIES</div>
            </div>
        </div>
        <div class="row flex_Middel">
            <div class="col-md-4">
                <div class="main_card mb_15">
                    <div class="main_card_body">
                        <div class="fs_18 text_red mb_15 fw_700">Risk Management</div>
                        <ul class="list_css">
                            <li>Insurance Portfolio Audit</li>
                            <li>Risk Inspection & Audit</li>
                            <li>Claims Management</li>
                            <li>Enterprise Risk Management</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main_card mb_15">
                    <div class="main_card_body">
                        <div class="fs_18 text_red mb_15 fw_700">GAP Analysis</div>
                        <ul class="list_css">
                            <li>Program Structuring</li>
                            <li>Designing of Insurance Program</li>
                            <li>Need Based Innovative Solutions</li>
                            <li>Cost Optimization</li>
                            <li>Cost vs. Benefit</li>
                            <li>Pricing Trancparency</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main_card mb_15">
                    <div class="main_card_body">
                        <div class="fs_18 text_red mb_15 fw_700">Program Management</div>
                        <ul class="list_css">
                            <li>Insurance Placement</li>
                            <li>Selecting Best Providers</li>
                            <li>Process Simplification</li>
                            <li>Dedicated Account Executive</li>
                            <LI>Day-to-Day Administration</LI>
                            <LI>Periodic Monitoring & Evaluation</LI>
                            <LI>Service Guarantee</LI>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt_40">
            <div class="col-md-6">
                <div class="fs_24 text_red fw_700">SMART REASONS FOR CHOOSING US</div>
                <ul class="list_css mt_15">
                    <li>Best Corporate Practises</li>
                    <li>100% Transparency</li>
                    <li>Business Ethics</li>
                    <li>Innovative Solutions</li>
                    <li>Experienced Underwriting Team</li>
                    <li>Claims Support</li>
                    <li>Digitally Equipped</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="about_img ">
                    <img src="assets/images/about_us/why_choose_us.jpg" alt="#">
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">OUR DOMAIN EXPERTS</h2>
                <div id="about_us" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <div class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60">
                                    <span class="border_red50 overflow-hidden d_block"><img src="assets/images/about_us/GAUTAM-MAZUMDAR.png" alt="profile" class="border_red50"></span>
                                    <div class="text_center">
                                        <div class="fs_18 fw_600 text_red text_capitalize mb_15">GAUTAM MAZUMDAR </div>
                                        <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">MENTOR</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <div class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60">
                                    <span class="border_red50 overflow-hidden d_block"><img src="assets/images/about_us/SANJEEV-GUJRAL.png" alt="profile" class="border_red50"></span>
                                    <div class="text_center">
                                        <div class="fs_18 fw_600 text_red text_capitalize mb_15">SANJEEV GUJRAL</div>
                                        <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">FOUNDER & CEO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <div class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60">
                                    <span class="border_red50 overflow-hidden d_block"><img src="assets/images/about_us/AVNISH-KAPUR.png" alt="profile" class="border_red50"></span>
                                    <div class="text_center">
                                        <div class="fs_18 fw_600 text_red text_capitalize mb_15">AVNISH KAPUR</div>
                                        <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">HEAD OF INFORMATION TECHNOLOGY</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <div class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60">
                                    <span class="border_red50 overflow-hidden d_block"><img src="assets/images/about_us/ANKUR-HARJANI.png" alt="profile" class="border_red50"></span>
                                    <div class="text_center">
                                        <div class="fs_18 fw_600 text_red text_capitalize mb_15">ANKUR HARJANI</div>
                                        <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">SENIOR MANAGER OPERATIONS</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>