<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>TERMS AND CONDITION</h1>
                    <h3>Terms of Use</h3>
                    <ul class="points_list_css">
                        <li>Greetings and welcome to www.gaadiinsurance. in the website operated by Gaadi Insurance BROKERS PRIVATE LIMITED (hereafter referred to as Gaadi Insurance) provides a convenient way to buy Insurance products from various insurance
                            companies. The Insurance Regulatory and Development Authority has licensed Gaadi Insurance as a broker. License code 606 from the IRDA for Direct Brokers (General).</li>
                        <li>The following conditions apply to Gaadi Insurance's services. This Terms of Use (ToU) and Privacy Policy must be read and accepted before using the portal. Acceptance of this TOU is implied by using any functionality of the portal.
                            To use the Portal/site, this ToU will prevail over any other documents. You may not use the portal in any way if you disagree to be bound by these Terms and Conditions and the Privacy Policy. Check this page periodically for
                            the most recent version of the Terms of Service.</li>
                        <li>You accept the updated or modified TOUs by continuing to access or use this Portal/site after any changes or modifications are made without prior notice.</li>
                        <li>The information contained on this Site focuses on insurance products and services. The Website Information and recommendations are provided without liability to Gaadi Insurance Brokers to the maximum extent permitted by law. Read
                            all information provided before making your final decision on a product. Gaadi InsuranceBrokers and the relevant participating provider should be consulted if you have any doubts about a product.</li>
                        <li>By When you access information, resources, services, products, and tools on our website (hereafter referred to as 'Resources'), you agree to use those Resources only for the purposes permitted under (a) this User Agreement and
                            (b) applicable laws, regulations, guidelines, or practices.</li>
                    </ul>
                    <h3>TERMS OF ACCEPTANCE</h3>
                    <p>The Web Site is offered to be subject to these terms and conditions of use, which I acknowledge and accept without restrictions or qualifications. In buying and agreeing to these terms, I acknowledge that I have read and understood
                        them. This posting may be updated at any time to modify these Terms and Conditions. I agree, understand, and accept those revisions. Whenever such modifications are made, I agree to be bound by them and will periodically check
                        this page to review the current Terms and Conditions.</p>
                    <h3>LIMITATION OF LIABILITY</h3>
                    <ul class="points_list_css">
                        <li>Despite Gaadi Insurance Brokers Limited's disclaimer of warranties and representations, under no circumstances, including negligence, shall Gaadi Insurance Brokers Limited be held responsible for the contents of this website.</li>
                        <li>(“Gaadi Insurance Brokers Limited”), its employees and directors, its suppliers, and any other party involved in the creation, production, or delivery of the website shall in no event be liable to you for any direct, incidental,
                            consequential, indirect, or punitive damages. Its total liability shall not exceed any amount paid by you for using/accessing the website.</li>
                        <li>As a result of your access to, use of, or browsing of this website or your downloading of materials, data, text, images, video, or audio from this website, Gaadi Insurance Brokers Limited assumes no responsibility for damages to,
                            or viruses that may infect, your computer/equipment/handset/any other mode of accessing this website or other property. You or third parties should not expect that Gaadi Insurance Brokers Limited's website will be virus-free.</li>
                    </ul>
                    <h3>MATERIAL USE RESTRICTIONS</h3>
                    <p>Gaadi Insurance Brokers Limited operates this website except where otherwise expressly allowed. This website will enable you to download materials for your personal use only. The content of this website, including text, images, audio,
                        and video, may not be distributed, modified, transmitted, reused, reposted, or used for public or commercial purposes without the written permission of Gaadi Insurance Brokers Limited.</p>
                    <p>This website is not owned or affiliated with Gaadi Insurance Brokers Limited. Gaadi Insurance Brokers Limited makes no warranty or representation that your use of materials displayed here will not infringe third-party rights.</p>
                    <h3>FOREIGN JURISDICTION</h3>
                    <p>Gaadi Insurance Brokers Limited accepts no liability for non-compliance with laws of countries other than India. Even though visitors or customers can access the Website from countries other than India, these Terms are not governed
                        by those laws.</p>
                    <h3>LINKS AND REFERENCE WEBSITES</h3>
                    <ul class="points_list_css">
                        <li>To serve you more conveniently, Gaadi Insurance Brokers Limited provides hyperlinks or reference websites that forward/redirect you to websites of third parties.</li>
                        <li>The Company does not endorse or approve third-party websites, their contents, or their authenticity, even if they contain the Company's logo. Third-party websites are beyond the Company's control.</li>
                        <li>Framing or similar processes are prohibited on the Company's website. Information on such websites is not guaranteed to be accurate, complete, reliable, or adequate, and we expressly disclaim any liability for any of their contents.</li>
                        <li>In addition to accepting the terms and conditions and accessing Gaadi Insurance Brokers Limited's website, you also agree to comply with any proprietary guidelines set forth at websites you access or hyperlink to from Gaadi Insurance
                            Brokers Limited.</li>
                    </ul>
                    <h3>JURISDICTION, SEVERABILITY</h3>
                    <p>This website and any action arising from it must be litigated exclusively in Delhi, India. You agree to submit to their exclusive jurisdiction, and those courts are a convenient venue for you.</p>
                    <h3>DISPUTE RESOLUTION</h3>
                    <ul class="points_list_css">
                        <li>In case of a dispute or difference, the parties agree to settle it amicably between themselves in the first instance. When the dispute or difference cannot be settled amicably between the parties within 30 days of its occurrence,
                            it shall be referred to Arbitration by a single arbitrator appointed by Gaadi Insurance Brokers Limited. The award passed by the Arbitration Tribunal, including interim awards, shall be final and binding on the parties under
                            the Arbitration and Conciliation Act, 1996. Delhi will be the venue, and English will be the language of the arbitration. Both parties now waive any recourse to foreign courts and acknowledge that the award is final and binding.</li>
                        <li>We will replace any unenforceable provision of these terms with an enforceable provision that comes closest to the intention of the condition if any provision of these terms is found unenforceable.</li>
                    </ul>
                    <h3>QUESTIONS AND ERRORS</h3>
                    <ul class="points_list_css">
                        <li>Please notify us as soon as possible if you encounter any errors or questions regarding your transactions via this website:</li>
                        <li>Please write to Dwarka Phase 1, Sector 23, Dwarka, 110077</li>
                        <li>Please send an email to insurance.care@Gaadi.com</li>
                        <li>Call us on our Toll-Free:</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>