<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>Privacy Policy</h1>
                    <h3>Introduction</h3>
                    <ul class="points_list_css">
                        <li>Gaadi Insurance Brokers Private Limited (GIBL) is incorporated in Delhi under Dwarka Phase 1, Sector 23, Dwarka, 110077. We respect your privacy and value your trust at GIBL. The following Privacy Policy describes how we collect,
                            store, and use your personal information. To use this Site and the services provided, you must be 18 years old and legally capable of forming legally binding contracts under applicable law. Please read this Privacy Policy carefully
                            before using or disclosing your personal information on GIBL's website. The use or access to the GIBL website is not permitted if you do not agree to the terms of the policy.</li>
                    </ul>
                    <h3>General</h3>
                    <ul class="points_list_css">
                        <li>Your email address and mobile number will never be sold, shared, or rented to any third party. As part of this Privacy Policy, GIBL will send you an email or SMS in connection with the provision of the services and products you
                            have agreed upon. From time to time, we may provide IRDAI and our business associates/partners with general statistical and non-personal information about GIBL and its users, such as the number of visitors, the type of goods
                            and services purchased, etc. We may share your personal information with our business associates/partners to deliver the services you are buying or intend to purchase. Your information may also be shared with government authorities
                            without prior notice if requested by them.</li>
                    </ul>
                    <h3>Personal Information</h3>
                    <ul class="points_list_css">
                        <li>An individual's personal information is a piece of information that can be used to identify him or her, including, but not limited to, first and last names, email addresses, telephone numbers, physical addresses, PAN numbers, Aadhar
                            cards, valid credit card numbers, IP addresses, etc. To provide you with the services you have requested, GIBL uses your personal information.</li>
                        <li>The information you provide to this site may be passively collected (that is, without your active participation) through cookies, Internet tags, web beacons, and navigational data collection (log files, server logs, clickstreams).
                            The URL of the website you just came from, your IP address, and the browser version you are using may also be automatically transmitted by your internet browser while you surf the GIBL website and the pages you access. Site
                            improvement, trend analysis, and website administration are made with this information.</li>
                    </ul>
                    <h3>Cookies and Tracking Technology</h3>
                    <ul class="points_list_css">
                        <li>When you visit a Web site, specific data files are written to your hard drive. Sites may use cookies to track your visits, but a cookie cannot contain personal information unless you provide it to the site. Neither cookies nor
                            files created by other sites can read data off your hard drive. In personalization and navigation, cookies save you time by recalling your specific information the next time you visit.</li>
                        <li>In addition to tracking user traffic patterns, www.gaadiinsurance.com uses cookies. In this way, we can measure the usefulness of the information on our website and the effectiveness of our navigational structure in helping users
                            find information on our site. It is possible to modify your browser settings to decline cookies; however, most web browsers automatically accept cookies.</li>
                        <li>For tracking purposes, our site may also use web beacons and cookies. Images on the pages of websites contain web beacons, which are small pieces of data. www.gaadiinsurance.com also uses these technical methods to analyze the
                            traffic patterns on our website, such as the frequency with which our users visit various parts of our website.</li>
                    </ul>
                    <p>Personal Information Not Provided Can Have Serious Consequences</p>
                    <p>Our ability to provide the related service may be affected if you fail to provide the personal information required to process your request.</p>
                    <h3>The cookies</h3>
                    <ul class="points_list_css">
                        <li>When you visit the Site, we may automatically collect certain information such as the domain name of the website from which you came, the frequency of your visits, the average time spent on the Site, the pages you viewed, your
                            internet service provider, your device type, operating system, language, etc. (“Non-Personal Information”). You cannot be personally identified from this Non-Personal Information. Assure how visitors use our Site, evaluate
                            how you use the information on our Site, and improve the content on our Site and performance using such Non-Personal Information.</li>
                    </ul>
                    <h3>Links to Other Sites</h3>
                    <ul class="points_list_css">
                        <li>This website may contain links to third parties provided for informational purposes only. Any loss or damage resulting from this website, indirect or consequential, will not be covered by Gaadi Insurance.</li>
                    </ul>
                    <h3>Use of Personal Information</h3>
                    <ul class="points_list_css">
                        <li>Our website uses personal information for several purposes, including providing you with products and services you have requested, resolving disputes, resolving complaints, promoting safe services, collecting money, measuring consumer
                            interest in the service, providing you with offers, products, updates, detecting and protecting us from fraud, error, and other criminal activities, enforcing our terms of service, etc. </li>
                        <li>Your contact information could also be used to send you offers based on your previous purchases and interests. Online surveys may occasionally be requested from you. These surveys can ask for your contact information and demographic
                            data (such as zip code, age, gender, etc.). GIBL uses this information to display content tailored to your interests based on your demographic data.</li>
                        <li>Several advertisers, business partners, and third parties may receive non-identified aggregate information about our users (such as the percentage of males and females visiting our website) for tailoring or enhancing our website's
                            content and advertising.</li>
                    </ul>
                    <h3>Information Sharing</h3>
                    <ul class="points_list_css">
                        <li>Users who subscribe using their email address may receive promotional offers and insurance-related information from GIBL. Financial advisors and portfolio managers may view your data if you have asked for such advice and explicitly
                            allowed them to observe it. Still, otherwise, all information is kept private and protected from human interaction. Additionally, your personal information may be included in the sale if any part of our business is sold, merged,
                            or transferred. You will be notified in advance of any such event to opt-out of receiving promotional information following the change in control.</li>
                    </ul>
                    <h3>Data Security</h3>
                    <ul class="points_list_css">
                        <li>To protect the information under our control, GIBL has implemented stringent security measures. You can access your account information through a secure server whenever you change or access it. We follow strict security guidelines
                            once we obtain your data, protecting it from unauthorized use.</li>
                        <li>Use industry-recognized security standards to protect your personal information from loss, misuse, or unauthorized alteration. </li>
                        <li>The following measures are taken to protect sensitive information, such as personal details when you send it to us: 1. SSL (secure socket layer) technology provides a fast Internet connection. 2. As your information passes over
                            the Internet, it is encrypted with 128-bit encryption.</li>
                        <li>We protect your privacy and security when it comes to your personal information. With physical, technical, and managerial safeguards, GIBL ensures that your data is secure and confidential. It should be noted that no security measure
                            is perfect or impenetrable, regardless of how hard we try. You must take every precaution to protect your data when using the Internet, even though we strive to protect your data. Make sure you use a secure and up-to-date browser,
                            change your passwords often, and use a combination of letters and numbers. Ensure your device has a current anti-malware solution when accessing our website and the internet.</li>
                        <li>Other companies' websites may be linked to ours. Although GIBL does not operate these, they may feature a GIBL logo. Despite our careful selection of business partners and associates, GIBL cannot be held responsible for the privacy
                            practices of third-party websites linked to ours. The third-party website's privacy policy will govern how the information they collect.</li>
                    </ul>
                    <h3>Disclaimer as to Loss</h3>
                    <ul class="points_list_css">
                        <li>While we take steps to protect your Personal Information, we cannot guarantee its complete security. Because of the nature of the Internet, you cannot guarantee 100% security. In case of breach or misuse of your personal information
                            by us, GIBL will inform you as soon as it becomes aware of the situation. If your Personal Information is breached due to a breach of privacy or security, GIBL will follow the law of the land when determining legal responsibilities.</li>
                    </ul>
                    <h3>Changes to this Privacy Policy</h3>
                    <ul class="points_list_css">
                        <li>It is possible for our privacy policy to change without prior notice at any time. Please review the policy periodically to ensure you are aware of any changes. GIBL's website shall be subject to this Privacy Policy uniformly.</li>
                    </ul>
                    <h3>Consent</h3>
                    <ul class="points_list_css">
                        <li>When you use GIBL and provide your information, you consent to GIBL collecting and using your information under this Privacy Policy, including sharing your information as permitted.</li>
                    </ul>
                    <h3>Contact Information</h3>
                    <ul class="points_list_css">
                        <li>We would appreciate any feedback you may have regarding our privacy policy, so please reach out to us at:</li>
                        <li>Email: hello@goodxinsurance.com</li>
                        <li>Disclaimer: We believe all information provided on this Web site is accurate and reliable; however, it should be understood as general insurance information only. You should not take it as advice regarding any individual situation
                            and should not rely on it.</li>
                    </ul>
                    <h3>ISMS Policy</h3>
                    <ul class="points_list_css">
                        <li>It is the responsibility of all GIBL employees and third parties to ensure the security of the company's information. A management framework must be established to implement and control information security within an organization.</li>
                        <li>An Information Security Organization Structure must be established, including members from all the identified business groups and senior management.</li>
                        <li>Information Security Organization functionaries must be informed of their roles and responsibilities.</li>
                        <li>To ensure adequacy in the organization's establishment, maintenance, and sustenance of Information Security, the management should ensure that ISMS policies and procedures are reviewed at regular intervals or whenever significant
                            changes occur.</li>
                        <li>For ISMS to be implemented, executed, monitored, and reviewed, management must provide the necessary human resources and resources support.</li>
                        <li>As per the requirements of Information Security, the Organization shall develop confidentiality agreements that include relevant clauses protecting the Organization's interests.</li>
                        <li>To obtain information on industry best practices in process optimization and mitigation options for new threats and vulnerabilities identified and reported by these agencies, contact with special interest groups (where possible)
                            such as ISACA, CERT-IN, NASSCOM, SANS, NIST, Cyber-Cell shall be maintained/established.</li>
                        <li>An independent review of the ISMS policies, procedures, and controls selected for mitigating identified risks should be carried out by a third party or the Internal Audit Security team of the Organization with a predefined periodicity
                            or when there is a change to the business environment due to regulatory changes.</li>
                        <li>Identifying members of the Information Security Organization is required before commissioning new information processing facilities.</li>
                        <li>According to the Framework Document, ISMS should be reviewed according to the standard schedule.</li>
                        <li>It should be required that 75% of the members of the apex committee participate in at least one review. During the ISMS annual review, there shall be no absenteeism.</li>
                    </ul>
                    <h3>Changes to this ISMS Policy</h3>
                    <ul class="points_list_css">
                        <li>At any time, we may change our ISMS policy without prior notice. You must review the policy periodically to make sure you are aware of any changes. All GIBL organizations shall be subject to this ISMS Policy.</li>
                    </ul>
                    <h3>Consent</h3>
                    <ul class="points_list_css">
                        <li>You may contact us at: Gaadiinsurance.com with questions or suggestions regarding our policy.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>