<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>Health Insurance</h1>
                    <p>Health is wealth, as is sometimes remarked. We also aim to ensure your health is never in danger with the same conviction. We provide various flexible options related to our<strong>health
                            insurance plan</strong> to safeguard your health.
                    </p>
                    <h3>Are you looking for the benefits of Health Insurance Plans!</h3>
                    <p>To fulfill consumer needs, <strong>Gaadi Insurance</strong> offers a variety of health insurance policies and enables simple internal claim processing. You can gain the following benefits from purchasing one of our <strong>health insurance plans:</strong></p>
                    <h3>From Network Hospitals, a Contactless payment Facility:</h3>
                    <ul class="points_list_css">
                        <li>When treating the sick, time is significant.</li>
                        <li>The urgent requirement is for a cashless system backed by all of our <strong>health
                                insurance plans in India.</strong></li>
                        <li>Over 90% of hospitalization-related mediclaim health insurance claims are processed in only two hours by Gaadi Insurance, and 85% of shares are resolved in just seven days after receiving the necessary documentation.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Exemption from Taxes</h3>
                    <ul class="points_list_css">
                        <li>An income taxpayer may be eligible for tax exemptions on premiums paid for medical health insurance policies under Section 80 D of the Income Tax Act 1961–2021.</li>
                        <li>Customers can obtain tax exemptions for premiums paid for themselves, their spouse, their dependent children, and their parents when they purchase our health insurance policies.</li>
                    </ul>
                    <h3>Added-Value Services</h3>
                    <ul class="points_list_css">
                        <li>We offer value-added services, which include e-Medical Opinion, Telemedicine Facilities, Health Programs and Rewards (which can turn into premium savings on renewals), and much more.
                        </li>
                        <li>Being a Health Insurance Professional is justified by Gaadi Insurance Company.</li>
                    </ul>
                    <h3>Long-term Faith:</h3>
                    <ul class="points_list_css">
                        <li>As health insurance experts in India, we respect client ethics and support them during hospitalizations or daycare treatments in medical crises.</li>
                    </ul>
                    <h3>Centered on the needs of the client</h3>
                    <ul class="points_list_css">
                        <li>Clients can continue to access and communicate with us through convenient digital platforms and channels.</li>
                        <li>Our goal is to satisfy our clients by meeting them at the appropriate time, in the proper manner, and with adequate care.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="add_banners">
                    <div class="mb_15"><img src="assets/images/sidebar4.png" alt="car insurance"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt_20">
                    <h3>AYUSH Therapy -</h3>
                    <ul class="points_list_css">
                        <li>Our expense of receiving medical care under the AYUSH school of medicine, which covers Ayurveda, Unani, Homeopathy, Siddha, and Yoga, is covered by this insurance.</li>
                    </ul>
                    <h3>Medical Examinations -</h3>
                    <ul class="points_list_css">
                        <li>According to the policy's terms and conditions, most health insurance firms in India provide free preventive health checkup services to the policyholder at regular intervals.</li>
                    </ul>
                    <h3>Why should I buy from Gaadi Insurance Company?</h3>
                    <p>Insurance partner Platinum</p>
                    <ul class="points_list_css">
                        <li>As we are a leading partner for the majority of health insurers and a Platinum partner, we will provide your policy and claims at high priority.</li>
                    </ul>
                    <h3>Options that are reasonably priced</h3>
                    <h3>Travel Insurance Abroad</h3>
                    <ul class="points_list_css">
                        <li>By offering you several monthly payment choices and savings from our Partners, we help you to afford our various health insurance plans.</li>
                    </ul>
                    <h3>30-minute claim assistance</h3>
                    <ul class="points_list_css">
                        <li>To assist your health insurance claim, our claim professionals will be at your hospital or residence in half an hour.</li>
                    </ul>
                    <h3>Key Elements of our Health Insurance!</h3>
                    <ul class="points_list_css">
                        <li>13,000+ Cashless Hospitals Throughout India</li>
                        <li>Savings on taxes up to Rs. 1.2 lac</li>
                        <li>Free health examination within 60 days of renewal is a feature of revival.</li>
                        <li>Claim Settlement Ratio: 1 Claim per Minute</li>
                        <li>Claim Approval in Just 20 Seconds</li>
                        <li>Hospitalization, daycare, home, AYUSH, and organ donation costs are covered.</li>
                        <li>Up to 60 days after admission and 180 days after discharge are covered by Pre & Post Hospitalization expenses.</li>
                    </ul>
                    <h3>Are you looking for the procedure to File an Insurance Claim with us!</h3>
                    <p>The only purpose of having health insurance is to have access to money when a sudden medical need arises. Therefore, it is crucial to understand the procedures mentioned below to know how the processes for making cashless claims and
                        reimbursement claim requests differ.</p>
                    <h3>Cashless claims:</h3>
                    <ul class="points_list_css">
                        <li>Within 30 minutes, cashless health insurance claims are granted.</li>
                    </ul>
                    <h3>Intimation</h3>
                    <ul class="points_list_css">
                        <li>For cashless acceptance, finish the pre-auth form at the network hospital.</li>
                    </ul>
                    <div class="add_banner mb_25">
                        <img src="assets/images/full_ad_banner3.png" alt="car insurance">
                    </div>
                    <h3>Approval/Rejection</h3>
                    <ul class="points_list_css">
                        <li>We will inform you about the current update as soon as the hospital notifies us.</li>
                    </ul>
                    <h3>Hospitalization</h3>
                    <ul class="points_list_css">
                        <li>Hospitalization is possible with pre-auth consent.</li>
                    </ul>
                    <h3>Claim Resolution</h3>
                    <ul class="points_list_css">
                        <li>We settle the hospital's claim in whole at the time of release.</li>
                    </ul>
                    <h3>How do you figure out the price of your health insurance!</h3>
                    <p>You can calculate your premium using a health insurance premium calculator. Before using the calculator, complete your form's personal information and other fields. You can better comprehend it by following this step-by-step guide,
                        which is given below:</p>
                    <ul class="points_list_css">
                        <li>Decide whether you want individual or family health insurance.</li>
                        <li>Add your cell phone number.</li>
                        <li>Choose the persons who require insurance.</li>
                        <li>To obtain a quote, select "get a quote.</li>
                    </ul>
                    <h3>Are you looking for our Best Health Insurance Plans!</h3>
                    <p>Health problems become more prevalent with an aging population and a poor diet. When a healthy person purchases our health insurance plan, our policies provide coverage for COVID-19. </p>
                    <ul class="points_list_css">
                        <li>Suppose a COVID-19 diagnosis necessitates hospitalization. Our Policy conditions state that Covid-19 therapies are covered with a waiting time.</li>
                    </ul>
                    <p>Our comprehensive, feature-rich health insurance policies cover many health conditions and offer comfort during tough financial times brought on by unforeseen medical expenses.</p>
                    <p>A family and individual health insurance plan are our two primary types of health insurance plans, respectively.</p>
                    <h3>Plan for individual health insurance</h3>
                    <ul class="points_list_css">
                        <li>Purchasing individual health insurance covers a person for the selected Sum Covered, solely usable by the insured person.</li>
                    </ul>
                    <h3>Floater Health Insurance Plan for Families</h3>
                    <ul class="points_list_css">
                        <li>A family in the context of Family Health Insurance refers to oneself, one's spouse, and any interdependent parents or children.</li>
                    </ul>
                    <p>A single premium for the Family Floater Health Insurance plan covers a complete family, and the insured amount is divided among the covered individuals. The insured and family members will use quality-assured in-patient hospitalization,
                        contemporary treatments, diagnoses, operations, and other services at hospitals all over India.
                    </p>
                    <h3>Want to Purchase the top Health Insurance Plans online!</h3>
                    <p>If you go through the appropriate procedure to buy our best health insurance plans :</p>
                    <ul class="points_list_css">
                        <li>Purchasing health insurance might be simple.</li>
                        <li>After all of this, Gaadi Insurance.com might be a valuable resource for selecting the best online insurance plan.</li>
                        <li>Comparing and purchasing health insurance coverage is now more straightforward than it once was, thanks to our Insurance Broker Private Limited.</li>
                        <li>Most of the health insurance plans offered on the Indian insurance market have easy access to complete details at a reasonable price.</li>
                    </ul>
                    <p>You can analyze various health insurance plans on our website to choose the one that best meets your requirements. Also, post-sale services are available to online customers, even during medical insurance claims.</p>
                    <h3>Are you looking for the procedure to purchase Health Insurance Online!</h3>
                    <p>Online shopping is the fastest and most practical way to find adequate health insurance. To purchase a Gaadi Insurance health insurance plan online, follow these steps:</p>
                    <ul class="points_list_css">
                        <li>Browse our Gaadi Insurance health insurance page.</li>
                        <li>The form is located directly above. Enter your details, the type of plan, and other essential information. Next, select the "see plans" icon.</li>
                        <li>After seeing the plans, adjust your policy by selecting your chosen Sum covered, the terms of the policy, and other details.</li>
                        <li>Select an online payment method, then proceed to our secure form of payment portal to finish the transaction.</li>
                    </ul>
                    <h3>Want to know the reason for buying Health Insurance at an Early Age!</h3>
                    <p>People should always purchase a solid health insurance plan as soon as feasible because medical emergencies can occur anytime and without warning. The reasons why it's crucial to have health insurance at a young age will be even more
                        apparent after reading the following:</p>
                    <h3>One Relatively Cheaper Premium</h3>
                    <ul class="points_list_css">
                        <li>If you purchase health insurance coverage when you are young, your premium will be relatively lower.</li>
                        <li>We believe that the health risk is lower the younger a person is.</li>
                    </ul>
                    <h3>Ignore the required health examination</h3>
                    <p>Breaking the Law</p>
                    <ul class="points_list_css">
                        <li>In some circumstances, you could be exempt from the physicals required of people of a specific age to qualify for health insurance.</li>
                    </ul>
                    <h3>Reduced Waiting Time</h3>
                    <ul class="points_list_css">
                        <li>For a few medical illnesses, waiting periods are included in insurance policies.</li>
                        <li>You can finish them sooner if you obtain a medical insurance policy when you're young.</li>
                    </ul>
                    <h3>How do I pick the best health insurance policy!</h3>
                    <p>You wonder which health insurance plan is ideal every time you search for one. What is the best way to pick a health plan online? How much protection should it have? Let's continue reading to unravel the health insurance plan hacks
                        and obtain the answers to all of your concerns.</p>
                    <h3>Get an adequate amount of insurance.</h3>
                    <ul class="points_list_css">
                        <li>As a result of the high cost of medical care in metro areas, an individual's Sum insured should ideally fall between 6 and 10 lacs.</li>
                        <li>If you're seeking a family policy to cover your husband and children, a floater policy with seven lacs and 15 lacs works well.</li>
                        <li>Our paying for several hospitalizations that might occur in a calendar year must be sufficient.
                        </li>
                    </ul>
                    <h3>Affordability</h3>
                    <ul class="points_list_css">
                        <li>Paying your medical bills out of pocket will allow you to choose a health insurance plan with lower premiums.</li>
                        <li>You ultimately decide to split the cost of your medical care with your health insurer, saving you from paying a high premium.</li>
                    </ul>
                    <h3>An Extensive Hospital Connection</h3>
                    <ul class="points_list_css">
                        <li>Always verify the insurance provider's extensive list of participating hospitals.</li>
                        <li>It will be easier for you to receive cashless care as we provide lists of the closest hospital or medical institutions.</li>
                        <li>Gaadi Insurance Company has a vast network of 12,000+ Cashless Health care facilities.</li>
                    </ul>
                    <h3>No Sub-Limits Assistance</h3>
                    <ul class="points_list_css">
                        <li>Your medical costs often rely on your ailment and room type.</li>
                        <li>Purchasing a health insurance plan without hospital room sub-limits is advised to choose the hospital room that fully satisfies your demands. </li>
                        <li>It's essential to remember that most of our policies do not include sickness sublimits.</li>
                    </ul>
                    <h3>Check delay Times</h3>
                    <ul class="points_list_css">
                        <li>While the waiting period is still in effect, your health insurance plan does not go into effect.
                        </li>
                        <li>Before purchasing a health insurance plan online, always look for health insurance policies with shorter waiting periods for pre-existing conditions and paid maternity leave.</li>
                    </ul>
                    <h3>Reliable Brands</h3>
                    <ul class="points_list_css">
                        <li>Always pick a health insurance provider with a high reputation in the business.</li>
                        <li>When determining whether our company will fulfill claims you may make in the future, you must also consider its client base and capacity to pay out on those claims.</li>
                    </ul>
                    <h3>Who Needs to Purchase Health Insurance?</h3>
                    <p>A significant financial choice is to purchase health insurance for you and your family. The need for medical insurance has arisen due to the high cost of medical care, particularly in today's fast-paced world.</p>
                    <p>Therefore, you must get health insurance if you are a salaried or self-employed person with dependents to care for. Using a health insurance premium calculator, you can better understand how your occupation might affect the necessary
                        health insurance coverage.</p>
                    <p>Additionally, purchasing the health insurance policy becomes mandatory if:</p>
                    <ul class="points_list_css">
                        <li>Your age ranges from 25 to 65.</li>
                        <li>When a medical emergency arises, you want to ensure that your family is protected.</li>
                        <li>Aside from the Section 80C Income Tax Act limit (health insurance premiums are deducted from income under Section 80D of the Act), you also want to maximize your tax benefits under the current tax regulations, which are subject
                            to change.</li>
                        <li>You are an Indian citizen who is a resident of India. Foreign nationals of Indian origin, PIOs, OCIs, and NRIs (non-resident Indians) are not permitted to acquire health insurance plans in India.</li>
                    </ul>
                    <h3>Records Necessary to Purchase a Health Insurance Plan in India</h3>
                    <p>The documents listed below are a few that may require to provide when purchasing a health insurance plan in India:</p>
                    <ul class="points_list_css">
                        <li>Birth Proof,</li>
                        <li>ID Proof and Identity Card, as well as Health Reports</li>
                        <li>Passport-size photograph</li>
                    </ul>
                    <p>Are you looking for the list of our top-selling health insurance plans!</p>
                    <h3>Safe Insurance for Diabetes</h3>
                    <ul class="points_list_css">
                        <li>According to a recent report by the Diabetes Foundation of India, diabetes is one of the most prevalent ailments, affecting 40.9 million people worldwide, making India the second most affected nation globally.</li>
                        <li>Based on the WHO, the three main risk factors for diabetes are an unhealthy lifestyle, smoking consumption, and poor eating habits.</li>
                    </ul>
                    <p>Diabetes problems and all other illnesses that necessitate a 24-hour hospital stay are covered by our plan on an individual and family basis.</p>
                    <h3>Our Super Surplus Insurance Top-Up health insurance plans are super surplus (floater) insurance policies.
                    </h3>
                    <ul class="points_list_css">
                        <li>Even the most substantial protection is insufficient during the pandemic.</li>
                        <li>This plan provides average premiums up to an insured amount of 1.2 crores.</li>
                        <li>We make this health insurance policy available to each of these groups.</li>
                    </ul>
                    <h3>Gold-level Cardiac Care Insurance Policy</h3>
                    <ul class="points_list_css">
                        <li>Your heart requires all the extra attention and timely treatment.</li>
                        <li>This unique health insurance policy aids those diagnosed with a cardiac condition or who had cardiac surgery, ranging in age from 8 to 72.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt_40 faq_blocks">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions
                </h2>




                <div class="accordion border_none" id="accordionExample">
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why do you use the term "pre-existing
                                disease"? </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">These PEDs are typically excluded from the policy coverage for a preliminary waiting period since they are usually considered pre-existing diseases, which are conditions, ailments, or injuries that already exist when you
                                    purchase a health insurance policy—Diabetes, high blood pressure, hypothyroidism, breathing problems, etc.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Exactly what does health insurance
                                mean?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">A type of insurance called health insurance covers unforeseen medical expenses brought on by a condition. These costs might be related to the cost of hospital stays, the cost of medications, or the price of doctor appointments.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How frequently can health insurance
                                be used?</button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">As long as your claims stay within the limits of the amount insured, you may submit any number possible during the life of your insurance. A policyholder is only eligible for coverage up to the sum certified.</div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingFoure">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">Do health insurance plans cover
                                diagnostic costs like X-rays, ultrasound, or MRI?</button>
                        </h2>
                        <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Only when a patient spends at least one day in the hospital are diagnostic costs like X-rays, ultrasounds, blood tests, or MRIs covered by health insurance policies. Any diagnostic procedure ordered for outpatients or one
                                    that doesn't result in therapy is not covered.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>