<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>Car Insurance</h1>
                    <p>Are you looking for the best insurance plan providing companies for your car? Here, we offer the best affordable <strong>Car Insurance</strong> premiums, no paperwork, and smooth transactions. You can count on your convenience when
                        you get our <strong>Car Insurance Policy. </strong> We provide distinctive qualities and specialized services. With the help of our reliable partners, we offer you some of the most suitable programs per your demands and budget.
                    </p>
                    <p>Everything required to protect through</p>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Amazingly low premium</h3>
                    <ul class="points_list_css">
                        <li>You directly purchase from us when you protect your car with us. </li>
                        <li>With no commissions. </li>
                        <li>We give those savings to you in the form of highly reduced charges. </li>
                    </ul>
                    <h3>Smart approaches for coverage</h3>
                    <ul class="points_list_css">
                        <li>Your new car needs special attention and excellent protection.</li>
                        <li>Personalize the plan according to your needs, from intelligent savings to bumper-to-bumper insurance. </li>
                    </ul>
                    <h3>Quick claims resolutions</h3>
                    <ul class="points_list_css">
                        <li>We provide 24/7 assistance. </li>
                        <li>Additionally to a cashless and paperless claims process, your automobile will be picked up for free and repaired within three days. </li>
                    </ul>
                    <h3>24/7/365 assistance</h3>
                    <ul class="points_list_css">
                        <li>Emergencies can occur at any time, and we've got you covered. </li>
                        <li>You can be reached with a click or a phone call, whether the emergency is a major disaster like a Storm or a minor traffic incident. </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="add_banners">
                    <div class="mb_15"><img src="assets/images/sidebar3.png" alt="car insurance"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt_20">
                    <h3>What makes a car insurance policy a good idea!</h3>
                    <p>Purchasing a car is one thing, but keeping it modifying is quite another. The highways are among the most unpredictable areas, where carelessness, ignorance, negligence, or just plain poor luck can seriously affect you and your vehicle.
                    </p>
                    <ul class="points_list_css">
                        <li>These implications cost you a lot of money if you own a car. </li>
                        <li>A car is constantly at risk, from minor dings in the trunk to severe collisions and catastrophic disasters.</li>
                        <li>Every step of the car's healing and protection involves money.</li>
                        <li>That's why <strong>Gaadiinsurance co.</strong> provide the best car insurance policy at an affordable charge so that each customer will not suffer their life for saving money.</li>
                    </ul>
                    <h3>We provide a policy that covers these aspects</h3>
                    <h3>Pays for Own Damage Expenses</h3>
                    <ul class="points_list_css">
                        <li><strong>Gaadiinsurance Co.</strong> provide policy if a car can sustain damage from other causes besides collisions, such as natural catastrophes, occurrences, or technological issues.
                        </li>
                        <li>Regardless of the reason, getting the vehicle maintained is expensive. Because car insurance covers losses caused by unusual causes, it is advised to purchase one.</li>
                    </ul>
                    <h3>Liabilities to Third Parties</h3>
                    <ul class="points_list_css">
                        <li>We provide services, as an automobile is a machine, and machines have technical problems.
                        </li>
                        <li>A car that has lost control poses a danger to bystanders and public property.</li>
                        <li>You are required to pay for the harm done if you were the driver at the time of the accident.
                        </li>
                        <li>If you have car insurance, we will cover the costs.</li>
                    </ul>
                    <div class="add_banner mb_25">
                        <img src="assets/images/full_ad_banner2.png" alt="car insurance">
                    </div>
                    <h3>Personal Mishaps</h3>
                    <p>Driving with a lifeguard is like having four-wheeler insurance.</p>
                    <ul class="points_list_css">
                        <li>We offer a backup to pay for the costs linked to automobile accidents.</li>
                        <li>We also cover lifelong disabilities brought on by car crashes.</li>
                        <li>We also provide the best kind of necessary financial assistance for families in emergencies.
                        </li>
                    </ul>
                    <h3>Required by law</h3>
                    <p>Under the Motor Vehicles Act</p>
                    <ul class="points_list_css">
                        <li>You must carry a minimum third-party insurance policy if you own a car. Deficiency is a crime for which you face punishment if you reveal yourself.</li>
                    </ul>
                    <h3>Long-Term Benefits with Extra features</h3>
                    <ul class="points_list_css">
                        <li>In addition to the benefits you just saw, you may purchase with us automobile insurance with add-on benefits like zero depreciation coverage, consumables coverage, breakdown help, conveyance benefits, and more. We strengthen the
                            security of your coverage.</li>
                    </ul>
                    <h3>Some other benefit</h3>
                    <ul class="points_list_css">
                        <li>ith a comprehensive online car insurance policy, you can enjoy personal luggage theft/damage coverage, cashless insurance registration and claim processing, digital claims, location services, and more with us.</li>
                    </ul>
                    <p>Expressing your "desire for speed" is not anything that should be concerned about!</p>
                    <p>For you and your loved ones, our family medical insurance offers several benefits, including:</p>
                    <h3>Wellness advantage: </h3>
                    <ul class="points_list_css">
                        <li>Keep yourself in excellent health to receive a discount on your renewal of the wellness benefit of up to 12.5%.</li>
                    </ul>
                    <h3>Renewability: </h3>
                    <ul class="points_list_css">
                        <li>We provide the feature of lifetime renewal included with this insurance.</li>
                    </ul>
                    <h3>Tax reduction: </h3>
                    <ul class="points_list_css">
                        <li>Take advantage of the Income Tax Act's Section 80D income tax relief.</li>
                    </ul>
                    <h3>No-hassle claim settlement: </h3>
                    <ul class="points_list_css">
                        <li>Our internal claim staff works to make the claim settlement process quick, simple, and uncomplicated.
                        </li>
                    </ul>
                    <h3>Preventive health check-up: </h3>
                    <ul class="points_list_css">
                        <li>If you have had Our Health Guard Policy for a continuous period as specified in the policy.
                        </li>
                        <li>You are entitled to a free Preventive Health check-up at each chunk of time expires.</li>
                    </ul>
                    <h3>Vehicle insurance loss or damage</h3>
                    <ul class="points_list_css">
                        <li>Protect against unnatural and natural disasters like floods, typhoons, hurricanes, storms, and cyclones. </li>
                        <li>The policy enables you to travel safely by air, landslide/rockslide, rail, road, inland waterway, lift, or elevator. </li>
                    </ul>
                    <h3>Third-party injury</h3>
                    <ul class="points_list_css">
                        <li>Obtain defense from legal responsibility for unintentional harm to the property of a third party, permanent injury to or death of a third party. So we provide <strong> car insurance
                                third party</strong> policies also. </li>
                    </ul>
                    <h3>Coverage for Personal Accidents</h3>
                    <ul class="points_list_css">
                        <li>Obtain our insurance plan to protect the vehicle's owner-driver while operating it, traveling in it, and mounting or dismounting from a four-wheeler. This benefit is applicable in the situation that only an accident results from
                            malfunctions, technological errors, or other reasons listed in the policy. </li>
                    </ul>
                    <h3>Provide 27-hour assistance</h3>
                    <ul class="points_list_css">
                        <li>No matter where you are stopped, you can always call for assistance with issues like tire blowouts, car engine guidance, or dealing with an accident. </li>
                        <li>We ensure you are never trapped on the road because of a problem with your vehicle. </li>
                    </ul>
                    <h3>Replace locks and keys</h3>
                    <ul class="points_list_css">
                        <li>Losing them at home and forgetting your car keys in a restaurant involve costs you are likely to incur. </li>
                        <li>With this add-on, forget about spending money on locks and keys for your automobile altogether. </li>
                    </ul>
                    <h3>Personal Effects</h3>
                    <p>Protect your belongings, including laptops, pricey electronics, and cash or money's worth of items, with the personal baggage cover.</p>
                    <h3>Are you looking for the procedure for making a claim on car insurance! </h3>
                    <p>After obtaining or renewing your car insurance policy, you may enjoy a stress-free 3-step, fully computerized claims process!</p>
                    <ul class="points_list_css">
                        <li>Call upon the given no. There is no application needed. </li>
                        <li>Step 2: On your registered smartphone, you will get a link for a self-inspection. Capture the pictures of the damage to your car using the step-by-step instructions on your phone.
                        </li>
                        <li>Choose the type of repair you want to employ, such as reimbursement or cashless, from our network of garages.</li>
                    </ul>
                    <h3>Required Documents to File a Claim With us</h3>
                    <h3>Insurance</h3>
                    <ul class="points_list_css">
                        <li>You must possess the following to file a claim under Reliance vehicle insurance. </li>
                    </ul>
                    <h3>Documents: </h3>
                    <ul class="points_list_css">
                        <li>complete claim form</li>
                        <li>A photocopy of a current driver's license. </li>
                        <li>Copies of registration documents</li>
                        <li>Documents proving car insurance</li>
                        <li>A duplicate of the police FIR</li>
                        <li>Estimates of repairs</li>
                        <li>Repair expenses</li>
                    </ul>
                    <h3>Essential Elements of Car Insurance Policies</h3>
                    <p>Key Elements and Benefits Provided by us:</p>
                    <ul class="points_list_css">
                        <li>Defendant's Damages cover both property damage and injuries to third parties</li>
                        <li>Own Damage Cover is offered under a single and comprehensive plan. </li>
                        <li>Accident Insurance Protection Up to Rs. 10-15 lakh</li>
                        <li>no claim bonus of up to 55%</li>
                        <li>Extra Covers 10 or more additional items, depending on the plan</li>
                        <li>Premiums for car insurance start at $2,084 per year*</li>
                        <li>Online and Offline Purchasing and Renewal Process</li>
                        <li>Available Repairs Without Cash</li>
                    </ul>
                    <h3>Things to Consider Before Purchasing Car Insurance Online</h3>
                    <p>Although purchasing car insurance online is straightforward, there are a few things to consider before you do so.</p>
                    <h3>What kind of policy! </h3>
                    <ul class="points_list_css">
                        <li>We provide the most excellent car insurance policy that turns out to be comprehensive. </li>
                        <li>Given the extensive range of coverage, it is always advised. </li>
                        <li>If your vehicle is old or doesn't use it frequently, you can choose third-party coverage and adhere to the fundamental legal requirements for operating a vehicle. </li>
                    </ul>
                    <h3>Cashless support</h3>
                    <ul class="points_list_css">
                        <li>The car's market value is less depreciation depending on its insured value. </li>
                        <li>The IDV is a representation of the insurer's absolute liability. </li>
                        <li>If theft or total loss of the vehicle, the IDV would be the highest claim amount. </li>
                        <li>Watch for the IDV when selecting the <strong>best car insurance policy.</strong></li>
                    </ul>
                    <h3>The necessary add-ons</h3>
                    <ul class="points_list_css">
                        <li>Plans for comprehensive car insurance will include a variety of add-ons. </li>
                        <li>Selecting the ideal candidates would enable obtaining broad coverage.</li>
                    </ul>
                    <h3>To purchase a new car insurance plan online: </h3>
                    <ul class="points_list_css">
                        <li>Go to your insurance company's website and provide the necessary information, such as your email address, mobile number, and automobile registration number.</li>
                        <li>Type in the policy information and the add-on to the insurance you want to choose.</li>
                        <li>Finish the process by making an online payment for the premium.</li>
                    </ul>
                    <p>You will get a confirmation mail along with the insurance coverage.</p>
                    <h3>Online car insurance renewal for an existing policy!</h3>
                    <p>For the <strong>car insurance renewal,</strong> you have to follow these steps:</p>
                    <ul class="points_list_css">
                        <li>Go to the insurance company's website and choose to renew your policy.</li>
                        <li>Fill out the form, decide whether to exclude specific add-on coverage and finish the visit by making an online premium payment.</li>
                        <li> Your enrolled email address will receive a letter with the updated policy.</li>
                    </ul>
                    <h3>Want to Continue your long-term car insurance with us!</h3>
                    <ul class="points_list_css">
                        <li>By law, you had to obtain a three-year third-party policy if you had bought a car after September 1, 2018. </li>
                        <li>Your car insurance is about to expire. By acquiring car insurance coverage, you may live the same stress-free lifestyle.</li>
                        <li>If you are already a customer of gaadiinsurance provide your policy number to proceed the renewal. </li>
                        <li>To renew your car insurance with us, click here and follow the instructions for a simple renewal.
                        </li>
                        <li>With us, you can protect your car in only a few minutes.</li>
                    </ul>
                    <h3>What paperwork is necessary to renew the plan!</h3>
                    <p>Submit the following records, if you want to renew the policy:</p>
                    <ul class="points_list_css">
                        <li>The Premium Cheque</li>
                        <li>Renewal Response Form</li>
                        <li>Modifications to the new policy required by the client</li>
                        <li>Old Policy Information</li>
                        <li>Vehicle Identification Number</li>
                        <li>Payment Information</li>
                        <li>Proof of Identification</li>
                        <li>Vehicle Registration and Address Verification</li>
                    </ul>
                    <h3>Want to compare the car insurance policy and choose the best one!</h3>
                    <ul class="points_list_css">
                        <li>Choose a car insurance provider that meets your insurance needs.</li>
                        <li>When comparing car insurance policies offered by various motor insurers online, you can evaluate the features, coverage level, and premium cost.</li>
                        <li>We will give you the broadest coverage possible without paying a disproportionately high price.
                        </li>
                    </ul>
                    <p>It is generally advisable to read consumer evaluations of several car insurance providers before selecting one. You'll be able to get a better idea of the type of insurance experience you'll have with the organization by reading reviews
                        left by current or former clients. Select a car insurance provider with more advantageous customer surveys than unfavorable ones.</p>
                    <h3>Looking for advantages to making online vehicle insurance comparisons offer!</h3>
                    <ul class="points_list_css">
                        <li>You may study several insurance policies' costs and features when comparing vehicle insurance online. </li>
                        <li>By comparing several packages, you can find the most fabulous car insurance plan that meets your needs online. </li>
                        <li>The car insurance plan that fits your budget while providing comprehensive coverage and valuable services is the finest one. </li>
                        <li>Additionally, you'll reduce time by seeking estimates from various insurance companies or brokers. </li>
                        <li>Without waiting for your agent to provide the forecast or to go over the specifics of each policy you want to compare, you may <strong> Compare Car Insurance</strong> on your own.
                        </li>
                        <li>Additionally, when purchasing a car insurance plan, you may make an objective and well-informed selection without being influenced by someone else's viewpoint. </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row mt_40 faq_blocks">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions
                </h2>
                <div class="accordion border_none" id="accordionExample">
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How do you change your car insurance
                                provider?</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">At the stage of renewing your policy, you have the option of changing vehicle insurance providers.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How do insurance firms calculate
                                vehicle damage?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Insurance companies evaluate the current value of the entire car's damaged components after this depreciated value has reduced the total estimated loss.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What does IDV mean?</button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">IDV, which stands for Insurance Declared Value, is the highest payout your insurance company will make if your car is damaged or stolen. </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingFoure">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">Will my car insurance coverage be
                                transferred when I buy a new car?</button>
                        </h2>
                        <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">No, you will need to purchase insurance for each vehicle independently if you buy car insurance for a new one. You are not permitted to have the primary insurance coverage for two automobiles simultaneously. There is a
                                    possibility for personal accident coverage for two vehicles under one policy with us.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">When is it necessary to
                                endorse?</button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">The affirmation is the record that supports changing a policy. If the customer requests any modifications, it is done by approaching the Motor Insurance Company at the time of issuance and incorporating the alterations
                                    in the policy terms.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">How can I compare car insurance
                                options?</button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">The most efficient approach to compare <strong>Car Insurance
                                        Quotes</strong> and save money is to do so online. It makes - simple to compare the features and costs of several car insurance plans. You have to estimate the cost of your policy with the help of a car insurance
                                    premium calculator.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>