<section class="products_page_css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <h1>Corporate Insurance</h1>
                    <div class="sub_title_heading">Home Insurance</div>
                    <p>Looking for a home insurance policy that protects you against the expenditures and damage to your home or any other insured property? We provide an insurance plan for homes called <strong>Gaadi Insurance  Home Insurance.</strong>We
                        cover the insured house in natural disasters, fire, man-made dangers, theft, etc.</p>
                    <p>Have you ever worried about what would happen if your house was broken into and all your costly possessions, such as your Smart TV and expensive jewelry, were stolen? Not to worry! We offer coverage that can protect your most valuable
                        possessions against fire, theft, burglary, and other perils. We provide attractive advantages which cover jewels, electrical gadgets, home appliances, etc.</p>
                    <h3>Looking for the home insurance feature:</h3>
                    <p>There are some essential features given below:</p>
                    <div class="add_banner mb_25">
                        <img src="assets/images/corporate1.jpg" alt="Home insurance">
                    </div>
                    <ul class="points_list_css">
                        <li>Include home invasion and burglary</li>
                        <li>Coverage for your expensive electronic products such as a television, air conditioner, washing machine, refrigerator, computer, and other electrical equipment.</li>
                        <li>Protection of mechanical failure and damage from short circuits.</li>
                        <li>Insurance protects your gold, diamond jewelry, and other valuables against loss and theft.</li>
                    </ul>
                    <h3>Looking for the advantages of having a home insurance policy!</h3>
                    <p>You should obtain a policy to protect you against financial loss. The following are some <strong>benefits of a home insurance policy:</strong></p>
                    <ul class="points_list_css">
                        <li>Due to sad circumstances, you may be eligible for financial assistance for repair and damage control.</li>
                        <li>If a third party causes damage, you can file an insurance claim without entering into a legal dispute.</li>
                        <li>If there is property insurance, it is easier to obtain a loan (home loan) for repair/reconstruction/expansion.</li>
                    </ul>
                    <h3>Want to know the reason to buy our house insurance online!</h3>
                    <p>Here are a few advantages to insuring your house with us.</p>
                    <ul class="points_list_css">
                        <li>Survey network PAN India</li>
                        <li>In-house claim resolution</li>
                        <li>Within 48 hours, complete the survey or assignment.</li>
                        <li>Indication of a claim online</li>
                    </ul>
                    <p>The <strong>Gaadi Insurance home insurance Policy in India is</strong> intended to provide comprehensive coverage at a low cost. With our long-term insurance choices, you may be worry-free. Furthermore, we offer quick claims service,
                        with a one-working-day turnaround time for all claim-related inquiries. With <strong>our home insurance premium</strong> policy, you can restate your claims-related worries once you've covered your home.</p>
                    <p>Are you looking at what our Home Insurance Policy covers!</p>
                    <p>Our home insurance covers:</p>
                    <h3>Fire Mishaps</h3>
                    <ul class="points_list_css">
                        <li>A fire can be extremely distressing and painful.</li>
                        <li>But you can rely on us to support you as you rebuild and renovate your house to its original condition.</li>
                    </ul>
                    <h3>Burglaries and Thefts</h3>
                    <ul class="points_list_css">
                        <li>Burglars and criminals enter your home uninvited. As a result, it is preferable to protect your home with a home insurance policy to avoid financial damages.</li>
                        <li>We cover stolen losses and endeavor to assist you during difficult situations.</li>
                    </ul>
                    <h3>Electrical Failure</h3>
                    <p>You should take our <strong>best home insurance policy</strong> and possible care of your electrical devices and equipment. However, they may occasionally fail. Don't worry; we cover the unexpected costs of electricity problems.</p>
                    <h3>Events caused by nature</h3>
                    <p>No one can prevent natural disasters like floods and earthquakes, which can significantly harm a home's valuables in hours.</p>
                    <p>What we can do is secure your home and its contents against expected risk with our <strong>best home insurance policy.</strong></p>
                    <h3>Alternative-Accommodation</h3>
                    <ul class="points_list_css">
                        <li>We can assist you if you need a temporary roof over your head because your home has become uninhabitable owing to an insured risk. </li>
                        <li>Our alternative accommodation clause ensures you have a comfortable temporary somewhere to stay until your house is suitable for occupancy.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row faq_blocks pl_25">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mb_15 text_bottom_border pb_10">Frequently Asked Questions
                </h2>
                <div class="accordion border_none" id="accordionExample">
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I reduce the price of my SBI house insurance premium?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Under our simple house insurance plan, we provide a tenure discount. If you choose a policy period of two years, your premium is lowered by 5.2%. Similarly, selecting a policy term of three years would reduce your premium
                                    by 7.0 percent.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_35 border_red5px">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What exactly does home insurance mean?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Home insurance, often known as property insurance, protects your home from natural disasters. Because home is where the heart resides, it's natural to want the best for it. Unexpected hazards, on the other hand, can strike
                                    at any time. A house insurance coverage acts as a shield of security for your home and everything in it that you value.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="sub_title_heading">Marine Insurance</div>
                    <p>For many Indian businesses operating in various industries, Gaadi Insurance has been the go-to source for Marine Insurance solutions. Protecting the maritime sector from various hazards gives companies and their investors more assurance
                        to establish and meet ambitious growth goals.</p>
                    <p>Although most of our maritime insurance plans cover valuable goods against damages or losses, some policies may offer additional coverage against international civil strife or pirates.</p>
                    <h3>Want to know -Who is entitled to Marine Insurance?</h3>
                    <p>Let's look at the groups of people that qualify for marine insurance. They are as follows:</p>
                    <div class="add_banner mb_25">
                        <img src="assets/images/corporate2.jpg" alt="Marine insurance">
                    </div>
                    <ul class="points_list_css">
                        <li>Both corporations and people must have this policy. </li>
                        <li>Business shipments are typically high in value, and any loss can directly impact the business.</li>
                        <li>Individuals consider moving one of the most significant stressful life experiences, whether for a career change or marriage.</li>
                    </ul>
                    <p>Whatever the reason for moving your goods, our insurance covers them from material damage.</p>
                    <h3>Are you looking for the Characteristics of our Marine Insurance?</h3>
                    <p>Our Marine cargo insurance covers the insured items against material damage regardless of the cause for shipping goods. Some of the advantages of purchasing our marine insurance policies are as follows:</p>
                    <h3>All-Risk Complete Coverage</h3>
                    <p>Our marine cargo insurance policy provides comprehensive coverage against all potential marine-related dangers to which the products are exposed while in transit.</p>
                    <h3>Simple Customization</h3>
                    <p>Our plans are easily customizable and adjustable to match the demands of the clients.</p>
                    <h3>Adaptability</h3>
                    <p>Our marine insurance policies are sufficiently adaptable and offer several options to meet the insured's needs while keeping their budget in mind.</p>
                    <h3>Claim Survey and Settlement Assistance on a Global Scale</h3>
                    <p>Our insurance policy alleviates claim-related stress by providing worldwide cost recovery help and a claim survey.</p>
                    <h3>Extension of Coverage</h3>
                    <p>Under this policy, you have the option to increase your insurance benefits and cover any additional risks like those caused by riots, strikes, and other disruptive events.</p>
                    <p>Categories of our marine insurance policy!</p>
                    <p>We have various types of marine insurance policies, which are listed below:</p>
                    <h3>Insurance for Freight</h3>
                    <ul class="points_list_css">
                        <li>The controller would lose freight receivables if the products were damaged in transit.</li>
                        <li>Therefore, our insurance will be based on reimbursement for freight loss.</li>
                    </ul>
                    <h3>Insurance for Liability</h3>
                    <p>Our Marine Liability insurance is purchased to cover any liability arising from a ship collapsing or crashing.</p>
                    <h3>Insurance for Hulls</h3>
                    <ul class="points_list_css">
                        <li>Our hull insurance covers the hull and body of the vehicle.</li>
                        <li>We protect transportation against damage and accidents.</li>
                    </ul>
                    <h3>Insurance for Marine Cargo</h3>
                    <p>Our marine cargo policy covers items shipped from their country of origin to their final destination.</p>
                    <p>Marine cargo insurance plans are classified as follows!</p>
                    <p>Some of the other marine insurance types are discussed below:</p>
                    <h3>Specific Insurance</h3>
                    <p>Covers only a single shipment throughout the policy term.</p>
                    <h3>Open Policy</h3>
                    <ul class="points_list_css">
                        <li>We agree to cover all products in transit that fall under that agreement for a set time or even forever until either partner cancels the arrangement.</li>
                        <li>The entire premium is collected in anticipation and modified based on the annual disclosed value of shipments.</li>
                    </ul>
                    <h3>Open Cover</h3>
                    <p>This is an agreement between the Proposer and the Insurer in which the Proposer promises to purchase cargo insurance for all of their cargoes anytime they must insure, and we agree to continue providing cargo protection for the Proposer.
                        When shipments are declared, a premium is charged.</p>
                    <h3>Why Should You Choose US Marine Insurance?</h3>
                    <ul class="points_list_css">
                        <li>Our maritime insurance policy is comprehensive and adaptable to your needs. </li>
                        <li>We recognize the value of prompt response and fast service in managing claims, making it more convenient to obtain marine insurance straight from us. </li>
                        <li>We settle MSMEs' claims of up to Rs 4 lakhs within 15 days.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row faq_blocks pl_25">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mb_15 text_bottom_border pb_10">Frequently Asked Questions
                </h2>
                <div class="accordion border_none" id="accordionExample2">
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingOnemarin">
                            <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnemarin" aria-expanded="true" aria-controls="collapseOnemarin">Define Marine Insurance.</button>
                        </h2>
                        <div id="collapseOnemarin" class="accordion-collapse collapse show" aria-labelledby="headingOnemarin" data-bs-parent="#accordionExample2">
                            <div class="accordion-body P_15">
                                <div class="fs_14">The meaning of Marine insurance is to protect ship owners, cargo owners, terminal handlers, and other shipping intermediaries from dangers. Given the numerous variables that can affect your cargo, such as weather, pirates,
                                    and navigation issues, it is suggested that you obtain suitable insurance following the business description and the risks connected with company activities. It also encompasses other persons directly or indirectly
                                    harmed by the action.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_35 border_red5px">
                        <h2 class="accordion-header" id="headingTwomarin">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwomarin" aria-expanded="false" aria-controls="collapseTwomarin">Are there any variables that influence a Marine Policy's premium rate?</button>
                        </h2>
                        <div id="collapseTwomarin" class="accordion-collapse collapse" aria-labelledby="headingTwomarin" data-bs-parent="#accordionExample2">
                            <div class="accordion-body P_15">
                                <div class="fs_14">GPA insurance typically does not provide coverage in the following situations:</div>
                                <ul class="list_css">
                                    <li>Commodity Characteristics</li>
                                    <li>Packing method.</li>
                                    <li>The age of the vessel (ownership/operatorship)</li>
                                    <li>Insurance policy type ( C&F, FOR, CIF).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="sub_title_heading">Fire Insurance</div>
                    <p>Looking for the best company plans provides various benefits and chances to claim. Here comes Gaadi Insurance.</p>
                    <p>We provide goods and services for all types of fire insurance. Business vulnerabilities should be adequately protected. We provide a variety of fire insurance alternatives, allowing businesses to focus on their core competencies. For
                        businesses, Gaadi Insurance Insurance Company Limited offers vital products such as Fire & Allied Perils Insurance and Fire Consequential Loss Insurance.</p>
                    <h3>Want to understand the Fire Insurance definition!</h3>
                    <p>Insurance against fire-related losses and damage is called fire insurance. Most plans include some fire protection; however, if their property is lost or damaged due to fire, homeowners may be able to acquire additional coverage.</p>
                    <h3>Want to know -Why Fire Insurance is Important!</h3>
                    <p>Here are some fire insurance features that indicate why you should purchase it.</p>
                    <div class="add_banner mb_25">
                        <img src="assets/images/corporate3.jpg" alt="Marine insurance">
                    </div>
                    <ul class="points_list_css">
                        <li>An insurance policy that covers any loss or damage caused by explosions caused by movable or immovable objects.</li>
                        <li>A fire insurance policy covers property damage such as a fire accident, such as furnishings, office building, machinery, stock, etc.</li>
                        <li>A burglary insurance policy covers effects brought on by explosions, water tanks overflowing, and other natural disasters in addition to fire perils.</li>
                    </ul>
                    <h3>Are you looking for the categories of fire insurance policies!</h3>
                    <p>You can acquire the following types of fire insurance coverage in India:</p>
                    <h3>Basic</h3>
                    <p>Our policy covers the loss or damage to a building, property, equipment, machinery, stocks, and other assets up to Rs. 5 crores.</p>
                    <h3>Premium</h3>
                    <p>It covers damage or destruction to the structure, plant and machinery, stocks, and other assets, ranging from Rs 5 crores to Rs 50 crores.</p>
                    <h3>Special Fire & Special Perils</h3>
                    <p>This type of fire insurance agreement between both the insurer and insured covers loss or structural damage, plans and machines, stock, as well as other assets for an insured amount greater than Rs 50 Crores.</p>
                    <h3>Under Special Fire & Special Perils insurance, there are five distinct types of policies (SFSP). </h3>
                    <p>These are their names:</p>
                    <h3>Specific Policy</h3>
                    <p>We provide this policy for a particular property; a set sum insured is determined, and the actual loss does not exceed the chosen insured amount in the event of a loss.</p>
                    <h3>Comprehensive Policy</h3>
                    <p>This policy offers substantial protection not only from fire-related risks but also from all other perils, including robbery, burglary, civil riot, etc.</p>
                    <h3>Valued Policy</h3>
                    <p>In this case, we provide the policy on the agreed price at the time of purchase, which is the determining factor of policy indemnity.</p>
                    <h3>Floating Policy</h3>
                    <p>If you have varying stocks in various places. Our policy simultaneously covers one or more commodities for a single premium and sum assured.</p>
                    <h3>Important Policy</h3>
                    <p>Oour claim value is determined by the current market value of the destroyed property.</p>
                    <p>Criteria for Purchasing an Gaadi Insurance Fire Insurance Policy, requirements that must meet for purchasing a fire insurance policy:
                    </p>
                    <ul class="points_list_css">
                        <li>Any person/organization/institution/firm may suffer or have to insure their business in the event of a fire.</li>
                        <li>Anyone in possession of a structure, furniture, goods for the home, etc.</li>
                        <li>Retailers, shopkeepers, and godown owners.</li>
                        <li>Banks, financial institutions, educational institutions, research institutes, etc.</li>
                        <li>Service providers include hotel operators, medical clinics, hotels, and clinics.</li>
                        <li>The Transportation and manufacturing companies.</li>
                    </ul>
                    <h3>When purchasing fire insurance policies, keep the following considerations in mind:</h3>
                    <p>Purchasing a fire insurance policy attracts clients with peace of mind because it covers them for losses or damages caused by fire and other covered events/perils.</p>
                    <p>However, the following considerations should be addressed for adequate protection while purchasing fire insurance:</p>
                    <ul class="points_list_css">
                        <li>Protection of Covered Risks</li>
                        <li>Include exclusions</li>
                        <li>Covers that can be added mention Correct Property Description</li>
                        <li>Related clauses include the Goods Held in Trust Clause, the Reinstatement Value Clause, and so on.</li>
                        <li>Amount Insured is Enough to Avoid Losses Under Insurance.</li>
                    </ul>
                    <h3> Want to know about Fire insurance with supplemental coverage!</h3>
                    <p>The insured can benefit from the following add-on coverage by paying an additional premium as the fire insurance cover:</p>
                    <ul class="points_list_css">
                        <li>Seismic activity</li>
                        <li>Debris removal</li>
                        <li>The forest fire</li>
                        <li>Rental loss</li>
                        <li>Start-up expenses</li>
                        <li>Alternative lodging</li>
                        <li>Unrestricted burning</li>
                        <li>Stock damage caused by temperature changes</li>
                        <li>Coverage for leakage and pollution</li>
                        <li>Consultation fees for architects, engineers, and surveyors</li>
                        <li>Protect yourself against molten metal spills.</li>
                        <li>Impact damage caused by the insured's own road/rail transportation</li>
                    </ul>
                    <p>Fire insurance offers further protection if the cost of replacing or repairing property exceeds the cap set by homeowners insurance.</p>
                    <p>Our risk control and minimization competence make us one of the top general insurance companies. Our specific value-added services team specializes in risk assessment and safety installation. With just one piece of paperwork, we effectively
                        settle the claims.</p>
                    <div class="sub_title_heading mt_35">Liability Insurance</div>
                    <p>Safeguard your company against liability losses and property destruction, such as bodily harm, litigation, investigations, and settlements. Now, don’t worry about this here is Gaadi Insurance company. Here, we offer a lot of policies
                        that clear all your doubts and secure your liability in one tab.</p>
                    <p>Liability insurance is necessary because we live in a financially unstable world, and one never knows when financial assistance will be needed. Our liability insurance is designed to defend the insured (up to the liability limit) if
                        a claim is lodged against him.</p>
                    <div class="add_banner mb_25">
                        <img src="assets/images/corporate4.jpg" alt="Marine insurance">
                    </div>
                    <h3>Are you looking for the Qualities and Features of Liability Insurance?</h3>
                    <p>The following are some characteristics and advantages of liability insurance coverage:</p>
                    <ul class="points_list_css">
                        <li>We offer financial protection to both people and businesses.</li>
                        <li>Protection against property damage is available.</li>
                        <li>Third-party bodily harm and personal injury protection.</li>
                        <li>We offer protection against legal obligations to third parties.</li>
                    </ul>
                    <h3>Looking for Our Liability Insurance Types!</h3>
                    <p>We have various policies to suit the customers' multiple wants, requirements, and fields of employment. Some of the popular liability insurance policies include:</p>
                    <h3>Defining Public Liability</h3>
                    <ul class="points_list_css">
                        <li>Our policy is intended for businesses and industries that frequently deal with the general public.</li>
                        <li>Our insurance coverage is advised to protect you from unnecessary financial risks and legal responsibilities.</li>
                        <li>It is recommended that businesses that appeal to the general public, such as retail stores, malls, clubs, and theatres, have this type of liability insurance.</li>
                    </ul>
                    <h3>Insurance for professional indemnity</h3>
                    <p>It is a liability insurance policy we created for professionals who need to safeguard their business interests from lawsuits alleging professional negligence, error, or omission, including doctors, designers, builders, attorneys, and
                        chartered accountants.</p>
                    <h3>Employer Responsibility</h3>
                    <ul class="points_list_css">
                        <li>Employers who want to pay for the expense of workers' compensation claims for injuries sustained on the job can utilize this policy.</li>
                        <li>Our insurance plan is typically referred to as business liability insurance.</li>
                    </ul>
                    <h3>Liability for Products</h3>
                    <p>Our policy is essential for businesses manufacturing tobacco, chemicals, food, medical items, recreational goods, etc.</p>
                    <h3>Liability to Third Parties</h3>
                    <ul class="points_list_css">
                        <li>Small businesses or individuals that seek coverage for losses or damages they cause to a third party might utilize this policy.</li>
                        <li>The policyholder is the first party in third-party insurance, the insurance provider is the second party, and the injured party or the business or individual filing the claim against the insured is meant to refer to as the third
                            party.
                        </li>
                    </ul>
                    <h3>Why should you choose our Liability Insurance!</h3>
                    <p>We recognize the accountability and requirements of this task and can meet them with the assistance of the following:</p>
                    <ul class="points_list_css">
                        <li>To encounter the most challenging commercial liability insurance difficulties,</li>
                        <li> We have access to a skilled team of underwriters and professionals specializing in claims and risk counseling, including lawyers, engineers, scientists, and industry experts.</li>
                        <li>From construction firms and pharmaceutical manufacturers to power and utility providers and automakers, our professionals have years of experience in these sectors.</li>
                        <li>We create coverage specifically for you based on your requirements and the weaknesses of your company.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt_40 faq_blocks">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions
                </h2>
                <div class="accordion border_none" id="accordionExample3">
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingOneliability">
                            <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneliability" aria-expanded="true" aria-controls="collapseOneliability">Describe what liability insurance means?</button>
                        </h2>
                        <div id="collapseOneliability" class="accordion-collapse collapse show" aria-labelledby="headingOneliability" data-bs-parent="#accordionExample3">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Liability insurance is a policy that protects enterprises, people, and corporations from legal troubles and lawsuits resulting from harm that their goods and services have caused to third parties.</div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border mb_15 border_red5px">
                        <h2 class="accordion-header" id="headingTwoliability">
                            <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoliability" aria-expanded="false" aria-controls="collapseTwoliability">What serves as liability insurance's primary objective?</button>
                        </h2>
                        <div id="collapseTwoliability" class="accordion-collapse collapse" aria-labelledby="headingTwoliability" data-bs-parent="#accordionExample3">
                            <div class="accordion-body P_15">
                                <div class="fs_14">Liability insurance pays for medical and legal costs if the insured is legally liable for another's property damage or damage to a third party.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt_35">
                    <div class="sub_title_heading">Group Personal Accident Insurance</div>
                    <p>For your contemporary work team, purchase group personal accident insurance. Get all-encompassing protection along with our group wellness advantages. Concerning the conditions outlined in the policy, our insurance plan protects against
                        major expenses incurred due to the insured's disability. Our policy covers all the situations like disability or passing away.</p>
                    <h3>Are you looking for features of group personal accident!</h3>
                    <p>Group personal accident insurance policy is simple to customize to your business needs. Here is a list of the benefits you must possess.</p>
                    <h3>Go big </h3>
                    <ul class="points_list_css">
                        <li>Obtain our reasonable premium estimates for covering more personnel. </li>
                        <li>Our insurance companies provide significant coverage depending on a larger workforce.</li>
                    </ul>
                    <h3>An annual term</h3>
                    <p>Based on an organization's yearly duration, you may use our policy.</p>
                    <h3>Caring for children</h3>
                    <p>Our insurance offers a lump sum payment to help employees care for their developing children.</p>
                    <h3>Accident insurance</h3>
                    <p>We designed our plan in such a manner to pay for medical costs if an individual is injured in an accident or becomes disabled.</p>
                    <h3>Complete defense</h3>
                    <p>We provide group medical coverage (GMC) and group personal accident coverage (GMC+GPA) at an affordable price.</p>
                    <h3>Protection for people with disabilities</h3>
                    <p>An accident-related total, partially, and our GPA policy covers lifelong disability.</p>
                    <h3>Want to know -What our Personal Group Accident Insurance Cover!</h3>
                    <p>Gaadi Insurance plan's provisions determine the group's personal accident insurance's scope of coverage. But the majority of group personal accident insurance policies provide:</p>
                    <h3>Spontaneous death</h3>
                    <p>If the insured person's life were lost due to an injury, we provide compensation to their family.</p>
                    <h3>Total and permanent disability</h3>
                    <p>If an employee has an accident that leaves them permanently disabled and that disability lasts longer than 12 months, the SI (Sum Insured) is paid to the insured according to our policy.</p>
                    <h3>Impairment disability</h3>
                    <p>Depending on our insurance conditions, the insurer will pay 2%–55% of the total SI if the insured becomes partially incapacitated. It is applicable if the impairment persists for more than a year.</p>
                    <h3>Weekly benefits</h3>
                    <p>If the covered person is paralyzed, we give weekly benefits. We also provide them a brief period to compensate for the pay loss resulting from the inability to work.</p>
                    <h3>Ambulance expenditures</h3>
                    <ul class="points_list_css">
                        <li>Ambulance expenditures are covered if the insured is admitted to the hospital due to injury, as per our policy.</li>
                        <li>Charges for transporting a person's lifeless remains to a cemetery or residence are covered by our group personal accident insurance policy.</li>
                    </ul>
                    <h3>Damaged bones</h3>
                    <p>our policy will pay the insured a certain sum if the insured sustains broken or damaged bones due to an accident or other harm.</p>
                    <h3>Reimbursement for medical expenditures</h3>
                    <p>The entire cost of any hospitalization and other medical expenses associated with the injury are covered.</p>
                    <h3>Benefits related to education</h3>
                    <p>our policy pays the children's tuition fees. The money is reimbursed if the insured person passes away or becomes permanently disabled.</p>
                    <h3>Lifestyle changes</h3>
                    <p>Due to a long-term disability, the insured may require alterations to their home or vehicle to maintain their comfort level. Our insurance covers a portion of these costs.</p>
                    <h3>Looking for the Principal Motivators for Choosing Gaadi Insurance Policy.</h3>
                    <ul class="points_list_css">
                        <li>Get cost-free quotations.</li>
                        <li>Instant premium estimates from many different insurance providers</li>
                        <li>Evaluate prices and features all at once.</li>
                        <li>Objective comparison</li>
                    </ul>
                    <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions</h2>
                    <h3>What Exactly Is Group Personal Accident Insurance?</h3>
                    <p>Group Personal Accident Insurance policy safeguards its members from mishaps that result in death or impairment. It is frequently offered as corporate group insurance for staff members, business owners, and board members. Regardless
                        of your group size, you can get customized group personal accident insurance to meet the needs of the individuals who make up your group. Discounts are also available for the group's personal accident insurance based on the number
                        of participants.</p>
                    <div class="sub_title_heading mt_20">Engineer Insurance </div>
                    <p>We're committed to keeping you safe from problems while you're passionate about finding solutions. We know that engineers face unique risks when designing and developing, and our engineering insurance is intended to help you navigate
                        those risks.</p>
                    <h3>Want to know about our Engineer Insurance!</h3>
                    <p>A variety of risks associated with engineering are covered by a type of insurance coverage called engineering insurance. It is an all-encompassing insurance plan that provides financial security against hazards encountered by ongoing
                        construction projects, installation projects, and machinery and equipment used in project operation.</p>
                    <h3>Are you searching for the Benefits provided by Gaadi Insurance company!</h3>
                    <p>The following are the main advantages of our policy:</p>
                    <ul class="points_list_css">
                        <li>Damage to property caused by any cause other than those expressly excluded by the policy is covered under our material loss. </li>
                        <li>Most of our policies cover losses or damages up to a predetermined amount larger than the total amount covered but not more significant than the amount stated against each item.</li>
                        <li>We provide coverage to accidental loss or damage to a third person's property that could result in that party being held liable in court.</li>
                        <li>We have Legal responsibility for fatal and non-fatal injuries caused by the construction of the property to third parties (other than the insured's workers or employees).</li>
                    </ul>
                    <h3>Insurance for machinery breakdown</h3>
                    <p>Engineering insurance for all plant and equipment units, the Machinery Breakdown policy covers the expense of repairing or replacing damaged parts due to accidental damages.</p>
                    <h3>Machine Insurance for Profit Loss</h3>
                    <p>An industrial or manufacturing unit's activities may be hampered by accidents, equipment failure, or breakdown, leading to losses.</p>
                    <p>The Machinery Loss of Profit Insurance Policy can provide coverage for these binding machines, including boilers, pressure vessels, and other critical components. </p>
                    <p>Under this safeguarding arrangement, our company is shielded from financial losses and revenue declines brought on by unforeseen physical damage to equipment.</p>
                    <h3>Insurance for Electronic Equipment</h3>
                    <p>We offer thorough protection for all of the electronic machinery employed by your company.</p>
                    <p>All technological devices and data storage devices are included in our plan. </p>
                    <p>We provide further benefit of this policy is that we will pay for surgeries that become more expensive due to equipment damage.</p>
                    <h3>At Your Own Risk</h3>
                    <p>Your organization runs a massive risk with each operation that involves storing equipment, moving or extending a facility, or deconstructing and rebuilding it.</p>
                    <p>We guarantee defense against such dangers. It is a good option for organizations with various needs due to the coverage's comprehensiveness.</p>
                    <h3>Looking for the Duration!</h3>
                    <p>Our coverage period begins with the initial consignment's arrival at the site, continues through routine storage, and then extends through the plant's erection, testing, and commissioning phases, ending with the plant's successful
                        commissioning and transfer.</p>
                    <h3>Would like to know our Insured Amount!</h3>
                    <p>The sum insured under the insurance contract cannot be less than the property's fully assembled value, including freight, customs duties, and installation costs. Essentially, the insurance should pay the agreed-upon sum.</p>
                    <h3>Looking for our engineering insurance Coverage include!</h3>
                    <p>Contractors' all-risk insurance covers the following risks:</p>
                    <ul class="points_list_css">
                        <li>Fire and related dangers</li>
                        <li>Collapse</li>
                        <li>Fire, tremor, and shock</li>
                        <li>Construction flaws</li>
                        <li>Like hurricanes, cyclones, floods, and storms.</li>
                        <li>Carelessness and human mistake</li>
                        <li>water stains</li>
                    </ul>
                    <div class="sub_title_heading mt_20">Group Health Insurance</div>
                    <p>We designed a health plan just for your staff. Our group health insurance plan is created to provide health coverage for workers of different company levels, from small and medium-sized businesses to huge corporations.</p>
                    <p>At Gaadi Insurance, we provide a full-service employee health insurance program to protect your staff from all diseases and a COVID-19-specific group cover to guarantee your team is protected from this severe outbreak.</p>
                    <h3>Looking for our group health insurance benefits provided by Gaadi Insurance company!</h3>
                    <p>Following are some of the main advantages of group travel policies:</p>
                    <h3>Minimum Premium</h3>
                    <p>Our Group travel insurance policy have considerably lower premiums than individual policies for individual members. </p>
                    <h3>Peace of Mind</h3>
                    <p>Our group travel policy provides excellent peace of mind because most unexpected emergencies that could disrupt the entire group during the trip are handled.</p>
                    <h3>Convenience</h3>
                    <ul class="points_list_css">
                        <li>We offer coverage when unavoidable situations threaten to disrupt your entire group's tour.</li>
                        <li>In these cases, our comprehensive group travel policy handles the financial burden, protecting the group leader and the participants from the ensuing financial difficulties.</li>
                    </ul>
                    <h3>Benefits of our Employee Group Health Insurance!</h3>
                    <p>Our employee group health insurance provides various benefits known as its rewards. Along with the essential health insurance coverage provided under the plan, we also provide value-added services.</p>
                    <H3>Coverage for Pre-Existing Conditions Begins since Day 1</H3>
                    <ul class="points_list_css">
                        <li>Unlike individual health insurance plans, group health insurance coverage for pre-existing conditions begins on the employee's first day with the company. </li>
                        <li>We eliminate the need for any waiting period for existing diseases.</li>
                    </ul>
                    <h3>A Wider Coverage with No Disease Limit</h3>
                    <p>Our group health insurance plan for employees offers broad scope with no disease limit in addition to pre-existing conditions.</p>
                    <H3>Broader Maternity Coverage</H3>
                    <ul class="points_list_css">
                        <li>We provide one of the best benefits to our young employees is a broader maternity cover.</li>
                        <li>Our majority of plans include both sections and normal births.</li>
                        <li>Our plans also provide coverage for newborns without the usual 90 days of maternity leave.</li>
                    </ul>
                    <h3>Do you want to know our group health insurance policy's guiding principles!</h3>
                    <p>Most corporations typically choose us to offer their employees group health insurance, with the employer typically footing the bill and offering the coverage to employees as a bonus.</p>
                    <ul class="points_list_css">
                        <li>We provide some specific premium benefits to them.</li>
                        <li>All employees in the organization would enroll in our group health insurance plan. Therefore our basic plan and sum covered would be the same for everyone.</li>
                        <li>For our additional premium payment, employees can also choose to include dependents like their spouse, kids, and, in some situations, senior parents.</li>
                    </ul>
                    <h3>Want to know -what employers consider while choosing our Group Health Insurance policy in India!</h3>
                    <p>Our priority is to provide the best health insurance plan to the client to fulfill their needs. Employers will consider these points their top priority while acquiring any plan. Here is our top priority services which we provide with
                        our plan: </p>
                    <ul class="points_list_css">
                        <li>Significant Advantages</li>
                        <li>Cost of Health Insurance</li>
                        <li>Efficiency of Communication</li>
                        <li>Service Advantages</li>
                        <li>Regional Coverage</li>
                    </ul>
                    <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions</h2>
                    <h3>How can I get the best group health insurance plan in India?</h3>
                    <p>The most acceptable Group Health Insurance plan in India should include superior post-sales services like claim processing, prompt settlement, and significant rewards. The support team should facilitate hassle-free, paperless transactions
                        to make it simpler for staff to get insurance for themselves and their families. The insurance provider must also have a sizable nationwide network of hospitals to provide comprehensive coverage.</p>
                    <div class="sub_title_heading mt_20">Travel Insurance</div>
                    <p>Our group travel policy covers anyone traveling for work or official purposes on behalf of the organization.</p>
                    <p>We have many group travel insurance plans for both local and international travel, and the cost depends on the insurance type and level of coverage. Our group travel insurance plans are offered for single and multiple trips throughout
                        the year.
                    </p>
                    <h3>Looking for Features & Advantages of our Group Travel insurance policies!</h3>
                    <p>The advantages and features of our group travel insurance policies in India include the following:</p>
                    <ul class="points_list_css">
                        <li>Emergency Medical Costs, Our insurer only covers costs you incur while traveling abroad due to an accident or illness.</li>
                        <li>Emergency Travel Benefits, Our insurance offers transportation for medical emergencies, emergency travel expenses for your family, medical deportation, or medicine transfers, among other things.</li>
                        <li>We also provide Coverage for emergency medical deportation. This is a crucial element when traveling abroad, whether for work or pleasure, especially if the traveler is over 50. The employer must research the costs of medical care,
                            hospitals, and travel at the time this coverage is purchased.</li>
                        <li>Baggage Loss, our Travel insurance provides coverage for lost or delayed checked bags, among other things.</li>
                        <li>As a result of a hijacked carrier, we also compensate the insured for every six hours they are stranded.</li>
                        <li>We cover trip interruption expenses if you are unable to complete your trip due to personal reasons.</li>
                        <li>The best thing is that our group travel insurance is more affordable than individual travel insurance.</li>
                        <li>We have a Simple Procedure; our plan requires minimal paperwork and covers several persons under single insurance.</li>
                    </ul>
                    <p>So there won't be any hassle for you. A form would need to be filled out for a group of travelers.</p>
                    <h3>Want to know -What's covered by our group travel insurance?</h3>
                    <p>Some of the most essential inclusion we cover in our policy are given below:</p>
                    <ul class="points_list_css">
                        <li>Our international business travel policy covers people who are traveling worldwide.</li>
                        <li>A yearly business that involves multiple trips, our Travel Policy has also been created with regular travelers in mind. The longest possible trip is typically 40 days, although it can be increased to 180 days. </li>
                        <li>Group travel insurance from Gaadi Insurance includes coverage for unexpected tragedies, permanent disability, and unexpected medical costs.</li>
                    </ul>
                    <h3>Examine Group Travel Alternatives Before Selecting the Best!</h3>
                    <p>The best group travel insurance policy with the most perks is crucial if you want to enjoy your trip without worrying about money matters entirely.</p>
                    <p>Since numerous businesses provide group travel insurance in India, comparing all of the features and advantages is crucial before choosing a policy.</p>
                    <p>To find the group travel insurance plan that best meets your needs, you may quickly evaluate the options available online by various insurance providers based on our benefits, premiums, and other factors.</p>
                    <h3>Why should you purchase a group travel insurance policy from Gaadi Insurance.com?</h3>
                    <p>With our user-friendly technology for group travel insurance, you can quickly locate the best insurance for your group. As we provide:</p>
                    <ul class="points_list_css">
                        <li>Online quoting and purchasing are made possible via an accessible system.</li>
                        <li>Inexpensive and trustworthy group travel insurance, a protected and secure checkout</li>
                        <li>In a single policy transaction, pay with one or more credit cards.</li>
                        <li>Group plans from an underwriter with an A+ rating. </li>
                        <li>Receive an immediate email confirmation of coverage following purchase.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>