<footer class="footer pt_80">
    <div class="container pb_15">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fs_20 fw_600 text_white pb_10 text_bottom_border_white">Our Products</div>
                <ul class="mt_15 list_css li">
                    <li>
                        <a routerLink="/products/car-insurance">Car Insurance</a>
                    </li>
                    <li>
                        <a routerLink="/products/bike-insurance">Bike Insurance</a>
                    </li>
                    <li>
                        <a routerLink="/products/health-insurance">Health Insurance</a>
                    </li>
                    <li>
                        <a routerLink="/products/travel-insurance">Travel Insurance</a>
                    </li>
                    <li>
                        <a routerLink="/products/corporate-insurance">Corporate Insurance</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fs_20 fw_600 text_white pb_10 text_bottom_border_white">Company</div>
                <ul class="mt_15 list_css li">
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a href="javascript:void(0);">SiteMap</a></li>
                    <li><a routerLink="/contact-us">Contact</a></li>
                    <li><a routerLink="/legal-policies">Legal & policies</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="fs_20 fw_600 text_white pb_10 text_bottom_border_white">Get In Touch</div>
                <div class="fs_14 text_white fw_400 mt_15  d_block"><i class="fa-solid fa-location-dot mr_10"></i> Dwarka Phase 1, Sector 23, Dwarka, Delhi, 110077</div>
                <div class="mt_7"><a class="text_white fs_14" href="mainto:hello@goodxinsurance.com"><i
                            class="fa-solid fa-envelope mr_15"></i>hello@goodxinsurance.com</a></div>
                <div class="mt_7"><a class="text_white fs_14" href="tel:9650081443"><i
                            class="fa-solid fa-phone mr_15"></i>9650081443</a></div>
                <div class="mt_7"><a class="text_white fs_14" href="tel:9650069056"><i
                            class="fa-solid fa-phone mr_15"></i>9650069056</a></div>
                <div class="mt_7"><a class="text_white fs_14" href="www.gaadiinsurance.com"><i
                            class="fa-solid fa-earth-africa mr_15"></i>www.gaadiinsurance.com</a></div>
                <div class="d_flex flex_Start flex_Middel mt_20">
                    <a href="javascript:void(0);" class="fs_38 text_white mr_10"><i
                            class="fa-brands fa-facebook-square"></i></a>
                    <a href="javascript:void(0);" class="fs_38 text_white mr_10"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="javascript:void(0);" class="fs_38 text_white mr_10"><i
                            class="fa-brands fa-twitter-square"></i></a>
                    <a href="javascript:void(0);" class="fs_38 text_white"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb_15 border_top1">
        <div class="fs_12 text_white fw_400 mt_15 text_center">POWERED BY : GOODX INSURANCE BROKERS PVT LTD | VALID TILL-25/10/2023 | IRDAI REGISTRATION NO. - IRDA/DB817/20</div>
    </div>
</footer>

<div class="main_popup">
    <div class="main_popup_overlay main_popup_toggle"></div>
    <div class="main_popup_wrapper main_popup_transition main_popup_animation">
        <div class="main_popup_header">
            <div class="main_popup_close_btn main_popup_toggle" (click)="ClosewLoginPoupup()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="main_popup_body">
            <div class="d_flex flex_column flex_Middel pop_content text_center">
                <div>
                    <img src="assets/images/header_images/logo.png" alt="main popup">
                    <div class="fs_18 fw_600 text_red mt_20">Getting In Touch With Us Is Easy</div>
                </div>
                <div class="d_flex flex_column flex_Middel w_100 mt_40">
                    <a href="javascript:void(0);" class="link_btn w_50 border_red30px text_center mb_10 d_block">Customer</a>
                    <a href="javascript:void(0);" class="link_btn w_50 border_red30px text_center d_block">POS</a>
                </div>
            </div>
        </div>
        <div class="main_popup_footer d_none"></div>
    </div>
</div>