<section class="contact_page mb_40">
    <div class="banner_part pt_30">
        <div class="container">
            <div class="row d_flex flex_Middel flex_wrap border_gary P_15 border_red5px">
                <div class="col-md-8">
                    <div class="pb_15">
                        <h1 class="fs_24 fw_800 text_red text_uppercase">BECOME an insurance POS</h1>
                        <div class="fs_14">WE ARE CUSTOMER CENTRIC AND RESULT ORIENTED WITH TIMELINES</div>
                    </div>
                    <div class="become_banner d_flex flex_Equal flex_Middel flex_wrap">
                        <div class="img_box_ani"><img src="assets/images/become_a_pos.png" alt="become a POS"></div>
                        <div class="about_content">
                            <h4 class="fs_24 text_red text_capitalize fw_800">with us and start your Income</h4>
                            <ul class="list_css mb_25">
                                <li>PAN India(Coverage)</li>
                                <li>26+ Insurers(Tie-Up)</li>
                                <li>Training Support</li>
                                <li>Instant Policies</li>
                                <li>Dedicated RM</li>
                                <li>24*7 Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="reg_form border_gary P_15 border_red5px box_shadwo_light">
                        <div class="fs_18 fw_700 text_red">Register Now</div>
                        <form class="mt_20">
                            <div class="form_group">
                                <label for="email">Email</label>
                                <input type="email" name="email" placeholder="Enter Your Email ID" class="form_control">
                            </div>
                            <div class="form_group">
                                <label for="phone">Phone</label>
                                <input type="tel" name="tel" placeholder="Enter Your 10 Digit Number" class="form_control" maxlength="10">
                            </div>
                            <div class="form_group">
                                <label for="text">Pincode</label>
                                <input type="text" name="text" placeholder="Enter Your Pincode" class="form_control">
                            </div>
                            <div class="form_group d_flex flex_column">
                                <button type="button" class="background_red text_white border_none px_10 py_5 border_red30px w_100 main_popup_toggle_otp">Become a POS</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products_page_css">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mt_35">
                        <h3>Become a pos (point of sale)</h3>
                        <p>At Gaadi Insurance, the Point of Sales Person (POS) program enables a person to live independently as an agent while designing his source of revenue.</p>
                        <p>We provide you the freedom to develop and engage in your progress without restrictions. Now become an insurance POS.</p>
                        <h3>Know the benefits that arise when you become a POSP!</h3>
                        <ul class="points_list_css">
                            <li>Own your own business—work whenever it suits you. You are the one in charge!</li>
                            <li>There are no set hours; you get to pick when you perform and whether you want to work whole- or in portion.</li>
                            <li>Work from anywhere, including your home, using internet processes to sell insurance!</li>
                            <li>Approximately 15 hours of instruction - You may become an insurance agent and professional with just 15 hours of training. Each thing you require to learn will be taught to you by us!</li>
                            <li>Profit from a high revenue – The number of policies you issue will determine your earnings. To find out how much you can earn, use our income calculator with each insurance policy you sell.</li>
                            <li>There is no cost to join and no investment necessary. All you need is an internet connection. and a smartphone/computer to use this.</li>
                            <li>Management Assistance: You won't be selling the insurance alone; instead, you'll be working with a committed supervisor who will support you at every level to ensure you're on the right path.</li>
                            <li>Monitor your services.: The backend support system will ensure you receive the proper compensation, ensuring record transparency.</li>
                            <li>Product of Great Value: Our products are made to satisfy customers' fundamental needs and to help them achieve their objectives at every stage of life.</li>
                            <li>Market Place: As in the digital age, we offer quick service for processing insurance policies with just a few taps on portals. As a result, you avoid going to the workplace and clients.</li>
                        </ul>
                        <p>Want to know what may apply to be a POSP?</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mt_35">
                        <h3>University students</h3>
                        <ul class="points_list_css">
                            <li>We suppose it is an excellent alternative if you're pursuing higher education but would still like to spend some time earning additional revenue.</li>
                        </ul>
                        <div class="add_banner mb_25">
                            <img src="assets/images/full_ad_banner1.png" alt="banner">
                        </div>
                        <h3>Spouses and homemakers who stay at home</h3>
                        <ul class="points_list_css">
                            <li>If you have the time and are a stay-at-home parent, you might decide to become a POSP and provide your children with extra revenue.</li>
                        </ul>
                        <h3>Seniors</h3>
                        <ul class="points_list_css">
                            <li>You are still eligible to work as an insurance agent after retirement—work whenever and for however long you want in the convenience of your home.</li>
                        </ul>
                        <h3>Businessmen/Businesswomen</h3>
                        <ul class="points_list_css">
                            <li>You can decide to become a POSP if you already run a business but still want to do extra things on the side. </li>
                            <li>You can work as much as you like and yet generate additional income.</li>
                        </ul>
                        <h3>Looking towards the qualifications!</h3>
                        <p>According to the IRDA, one must meet minimal standards to become a PoS insurance agent in India. These are as follows:
                        </p>
                        <ul class="points_list_css">
                            <li>The individual must be a resident of India.</li>
                            <li>Persons must be at least 18 years old and </li>
                            <li>Have completed the 10th grade (Secondary school, Matriculation, or any other equivalent degree)</li>
                            <li>The individual must present their authentic Aadhar Card and PAN Card.</li>
                            <li>Having a bank account in the candidate’s name is also necessary.</li>
                        </ul>
                        <p>Want to know the reason to collaborate with us!</p>
                        <h3>Working with Gaadi Insurance directly</h3>
                        <ul class="points_list_css">
                            <li>Don't miss the chance to work with our company; utilize it.</li>
                        </ul>
                        <h3>Complete backing</h3>
                        <ul class="points_list_css">
                            <li>Just for you, we offer assistance seven days a week.</li>
                        </ul>
                        <h3>Issue of policies without paper</h3>
                        <ul class="points_list_css">
                            <li>We never use paper in our procedures; everything is done online.</li>
                        </ul>
                        <h3>Immediate Policy Issue</h3>
                        <ul class="points_list_css">
                            <li>We provide hassle-free, immediate online issuance of insurance coverage.</li>
                        </ul>
                        <h3>Rapid commission payment</h3>
                        <ul class="points_list_css">
                            <li>All of our commissions are paid promptly.</li>
                            <li>Every 15 days following the issuing of the policy, your account will be reimbursed with your commission.</li>
                        </ul>
                        <h3>Want to know the kind of goods can be supplied using POS technology!</h3>
                        <p>A POS agent can sell essential insurance by analyzing the vast scope and opportunities in the industry today.</p>
                        <h3>Policy for Travel Insurance</h3>
                        <ul class="points_list_css">
                            <li>Nowadays, everyone travels. Thus it is essential to be safeguarded against unanticipated events.</li>
                            <li>One of the insurance coverage that all vehicle owners must have is vehicle insurance.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="add_banners mt_35">
                        <div class="mb_15"><img src="assets/images/sidebar1.png" alt="#"></div>
                        <div class="mb_15"><img src="assets/images/sidebar2.png" alt="#"></div>
                        <div class="mb_15"><img src="assets/images/sidebar3.png" alt="#"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt_35">
                        <h3>Policy for Health Insurance</h3>
                        <ul class="points_list_css">
                            <li>Living prices have soared, making it difficult to pay for medical expenses.</li>
                        </ul>
                        <h3>Insurance for homes</h3>
                        <ul class="points_list_css">
                            <li>Our homes are our most valuable assets, and we all want to safeguard them.</li>
                        </ul>
                        <h3>The policy of Term Insurance</h3>
                        <ul class="points_list_css">
                            <li>Our loved ones need to be protected.</li>
                        </ul>
                        <h3>Policy for personal accidents</h3>
                        <ul class="points_list_css">
                            <li>Today, nobody is secure from accidents. Even if you take measures, things still manage to happen.</li>
                        </ul>
                        <div class="mb_25">
                            <img src="assets/images/full_ad_banner2.png" alt="banner">
                        </div>
                        <p>Want to know the method -How to Become an Insurance Agent Online!</p>
                        <h3>Training</h3>
                        <ul class="points_list_css">
                            <li>A person who wants to become a PoS agent must complete a minimum of 15 hours of training.</li>
                            <li>To begin, you must register with a corporation, corporate insurance partners, or brokers.</li>
                            <li>We market the items of our recruited insurance company as a PoS agent.</li>
                            <li>Only your selected insurance company will give you training and certification.</li>
                            <li>As a result, it is recommended that you choose the organization prudently.</li>
                        </ul>
                        <h3>Certification Assessment test</h3>
                        <ul class="points_list_css">
                            <li>Because, as previously stated, the certification is offered by our recruitment insurance provider,</li>
                            <li>Our company also takes the certification exam.</li>
                            <li>You must first successfully finish the course before taking the test.</li>
                            <li>This test can also be performed via internet channels.</li>
                        </ul>
                        <h3>Know about Validity and Applicability!</h3>
                        <p>After passing the PoS test, you will be awarded a Certificate. This Certificate is valid for the period of your life.</p>
                        <ul class="points_list_css">
                            <li>Our pos agents can only sell one company's product.</li>
                            <li>That is the contractor's name.</li>
                            <li>However, the same person can work as an agent for both lives and a general insurer.</li>
                            <li>As a result, One health insurer, one general insurer, and one life insurer's products are all available for sale.</li>
                            <li>They can offer Pure Term Plans, Non-Linked Non-Participating Endowment Plans (with assured maturity and death reward), and Instant Annuity Plans with guaranteed payouts.</li>
                            <li>These agents can sell general insurance with little underwriting.</li>
                            <li>They are unable to sell medical insurance.</li>
                        </ul>
                        <div class="mb_25">
                            <img src="assets/images/full_ad_banner3.png" alt="#">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <h3>Are you looking for the process of signing up with Gaadi Insurance as a POSP?</h3>
                    <ul class="points_list_css">
                        <li>Please fill out our POSP form above to sign up, and our team will approach you with more information.</li>
                        <li>Finish your 15-hour training session with us.</li>
                        <li>Pass the required examination.</li>
                        <li>Please sign the contract with us, and you're done! You'll be a POSP expert.</li>
                    </ul>
                    <h3>Are you looking for -What makes POS the best job!</h3>
                    <ul class="points_list_css">
                        <li>POS continues investigating new prospects and possibilities to attain tremendous success.</li>
                        <li>POS is authorized to work with many insurance carriers to compare and give the best coverage to the client. This qualification is available for all IRDAI-approved policies.</li>
                        <li>POS delivers an easy-to-use web interface for speedier service delivery to clients.</li>
                        <li>With POS, there is no need for underwriting</li>
                        <li>You can improve and manage customer connections for renewals as a single point of contact between the firm and the client.</li>
                    </ul>
                    <h3>Looking for the method -How to become an insurance broker!</h3>
                    <p>Although the steps required to become an insurance broker will differ based on your circumstances and the state's regulations in which you reside, below is a basic overview of doing so:</p>
                    <h3>Decide on education</h3>
                    <ul class="points_list_css">
                        <li>Being an insurance broker needs basic formal education. </li>
                        <li>Most states necessitate a high school diploma or a small amount of additional education.</li>
                        <li>Although a college degree is not necessary to become an insurance broker, you may want to consider the advantages of obtaining one.</li>
                        <li>A graduate education, whether an associate degree, bachelor's degree, or other training programs, provides you with a solid knowledge foundation, looks good on your CV, and may boost your job chances.</li>
                    </ul>
                    <h3>Insurance brokers commonly pursue the following degree programs</h3>
                    <ul class="points_list_css">
                        <li>Administration of business</li>
                        <li>Finance</li>
                        <li>Psychology</li>
                        <li>Sociology \Communications</li>
                        <li>Marketing</li>
                    </ul>
                    <p>Some academic institutions provide a degree in insurance and risk management. However, it is not as prevalent as the degrees listed above.</p>
                    <ul class="points_list_css">
                        <li>If you have the choice, interning with an insurance company is a fantastic way to study and apply your skills in a professional setting.</li>
                        <li>If your educational program does not provide internship opportunities, you may be able to arrange one independently.</li>
                    </ul>
                    <h3>Select a specialty</h3>
                    <ul class="points_list_css">
                        <li>In our insurance market, we offer numerous types of insurance, commonly known as "lines of authority." An insurance broker can sell any insurance.</li>
                        <li>Selecting a specialty that interests you can help guide your decisions about school, internships, professional development, and licensure.</li>
                        <li>Various states require licenses for selling different forms of insurance, so deciding which line of authority to seek is a crucial aspect of the licensing process.</li>
                    </ul>
                    <h3>Comply with pre-licensing requirements</h3>
                    <ul class="points_list_css">
                        <li>Insurance brokers must be licensed in every state and have different requirements.</li>
                        <li>Various states require insurance brokers to take numerous licenses for each insurance category if they work with multiple types of insurance.</li>
                    </ul>
                    <h3>Pass the licensing examination</h3>
                    <ul class="points_list_css">
                        <li>It's time to prepare and pay for your licensure exam, which you can generally do online.</li>
                        <li>Most states provide short-term courses to help you prepare for the insurance broker exam.</li>
                        <li>Usually, you'll have to visit an examination site where we'll proctor the exam.</li>
                    </ul>
                    <h3>Submit a licensing application</h3>
                    <ul class="points_list_css">
                        <li>You can apply for the necessary license.</li>
                        <li>It usually needs to complete a form, confirm all pre-licensing criteria, complete the licensing test, and pay an application or processing fee.</li>
                        <li>You can discuss, solicit, negotiate, and conduct insurance transactions once you have received your official license.</li>
                        <li>We establish your clientele or apply for positions with insurance companies or agents.</li>
                        <li>To renew a license, most states also demand the fulfillment of ongoing education courses.</li>
                    </ul>
                    <h3>Consider pursuing optional certificates.</h3>
                    <ul class="points_list_css">
                        <li>Certain insurance brokers use certifications to further their professions and professional development.</li>
                        <li>The National Alliance for Insurance Education and Research offers a wide range of optional credentials.</li>
                        <li>These optional credentials necessitate prior experience, study, and examinations.</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="add_banners mt_35">
                        <div class="mb_15"><img src="assets/images/sidebar4.png" alt="#"></div>
                        <div class="mb_15"><img src="assets/images/sidebar2.png" alt="#"></div>
                        <div class="mb_15"><img src="assets/images/sidebar1.png" alt="#"></div>
                        <div class="mb_15"><img src="assets/images/sidebar3.png" alt="#"></div>
                    </div>
                </div>
            </div>
            <div class="row mt_40 faq_blocks">
                <div class="col-md-12">
                    <h2 class="fs_24 fw_700 text_red text_center mt_40 mb_15 text_bottom_border pb_10">Frequently Asked Questions
                    </h2>
                    <div class="accordion border_none" id="accordionExample">
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Is there any training required to become certified as a POS employee?</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">To become a POSP, you must complete the training. It will cover insurance fundamentals, policy types, the issuance and claims process, rules and regulations, etc.</div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What precisely is PoSP?</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">Point of Sales Person is referred to as PoSP. A PoSP is an insurance salesperson with authority to directly offer insurance plans to consumers. This agent can market various insurance products, including auto, health,
                                        and commercial insurance.</div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Are the insurance broker and the point of sale the same?</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">Insurance brokers serve as financial consultants to a variety of clients, while the corporation teaches POS to promote its internal products.</div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingFoure">
                                <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">Why should I become a licensed insurance agent?</button>
                            </h2>
                            <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">
                                        <ul class="list_css ">
                                            <li>You will not have a boss instructing you when to work. You can work whenever it is suitable for you.</li>
                                            <li>Because your work is not from 9 to 5, you have some flexibility.</li>
                                            <li>You can work as an agent in addition to your current job and start earning extra money.</li>
                                            <li>With the advent of digital insurance sales, there is no need to go somewhere to sell plans.</li>
                                        </ul>
                                        <p>There is no investment. You only require a smartphone having a net connection to get started.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What is the primary goal of a pos agent?</button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">The PoS agent's primary goal is to meet the demands of first-time clients seeking basic insurance coverage. These agents' specialty markets are in the metro, urban, semi-urban, and rural locations.</div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Are all POS insurance policies equivalent?</button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">No. Below is a general overview of classic POS health insurance. The characteristics of a POS plan and its name may vary according to the plan design and the insurance provider.</div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb_15 border_red5px">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How much time does an insurance agent work each week?</button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                <div class="accordion-body P_15">
                                    <div class="fs_14">Most agents work full-time, and some work more than 40 hours per week. Numerous people interact with clients around regular business hours, concentrate on paperwork, and make presentations for potential customers in
                                        the evenings.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>