<section class="home_banner_part z_index999 position-relative">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/slider_images/slider_banner.png" alt="Home Banner slide">
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider_images/slider_banner2.png" alt="Home Banner slide">
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider_images/slider_banner3.png" alt="Home Banner slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container home_banner">
        <div class="row">
            <div class="col-md-12 pt_100">
                <div class="d_flex flex_column flex_Center w_100 px_10 main_box">
                    <div class="mb_25">
                        <div class="fs_15 mb_10">Are you Covered?</div>
                        <div class="text_red fs_24 fw_700">Get Car, Bike, Health & Travel insurance</div>
                    </div>
                    <div class="text_box d_flex flex_Middel flex_Center">
                        <div class="products_box br_slide1 d_flex flex_column flex_Center flex_Middel">
                            <a routerLink="/prequotes/car-insurance-online">
                                <div class="icon text_red fs_35 fw_600"><i class="fa-solid fa-car"></i></div>
                                <div class="title text_red fs_16 fw_600 mt_7">Car</div>
                            </a>
                        </div>
                        <div class="products_box br_slide2 d_flex flex_column flex_Center flex_Middel">
                            <a routerLink="/prequotes/two-wheeler-online">
                                <div class="icon text_dark fs_35 fw_600"> <i class="fa-solid fa-motorcycle"></i></div>
                                <div class="title text_dark fs_16 fw_600 mt_7">Bike</div>
                            </a>
                        </div>
                    </div>
                    <div class="text_box d_flex flex_Middel flex_Center">
                        <div class="products_box br_slide3 d_flex flex_column flex_Center flex_Middel">
                            <a routerLink="/prequotes/health-insurance-online">
                                <div class="icon text_dark fs_35 fw_600 "> <i class="fa-solid fa-heart-pulse"></i></div>
                                <div class="title text_dark fs_16 fw_600  mt_7">Health</div>
                            </a>
                        </div>
                        <div class="products_box br_slide4 d_flex flex_column flex_Center flex_Middel">
                            <a routerLink="/prequotes/travel-insurance-online">
                                <div class="icon text_red fs_35 fw_600 "><i class="fa-solid fa-location-dot"></i></div>
                                <div class="title text_red fs_16 fw_600  mt_7">Travel</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile_part_block sliver_background pt_60 pb_60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 pt_60 order_2">
                <h3 class="fs_24 fw_800 text_red">Our Insurance Mobile App </h3>
                <p class="fs_14 fw_400">Our Mobile app insurance company puts security at your fingertips.</p>
                <p class="fs_16 fw_500 text_justfy d_block mb_25">Our app provides you with the most comprehensive
                    selection of insurance products from all of India's leading insurers. Your insurance needs may be
                    compared, read innovative articles, shortlisted, purchased, and managed in one spot
                </p>
                <ul class="list_css mb_15">
                    <li>Digital ID storage</li>
                    <li>Quick updates to policies</li>
                    <li>Online Claim Reports</li>
                    <li>Monitor your policy.</li>
                    <li>Online assistance</li>
                    <!-- <li>Notice of extension</li> -->
                </ul>
                <div class="d_flex flex_wrap flex_Top">
                    <a href="javascript:void(0);"
                        class="d_flex flex_Middel app_btn theme_graadint_background px_10 py_5 mr_15 text_left">
                        <span class="fs_44 text_white"><i class="fa-brands fa-apple"></i></span>
                        <span class="pl_15 fs_18 text_white d_flex flex_End flex_Middel flex_column"><small>Available
                                on</small><small class="fw_600 text_uppercase">APP STORE</small></span>
                    </a>
                    <a href="javascript:void(0);"
                        class="d_flex flex_Middel app_btn theme_graadint_background px_10 py_5 text_left">
                        <span class="fs_38 text_white"><i class="fa-brands fa-google-play"></i></span>
                        <span class="pl_15 fs_18 text_white d_flex flex_End flex_Middel flex_column"><small>Available
                                on</small><small class="fw_600 text_uppercase">Play Store</small></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order_1">
                <div class="position-relative mobile_img">
                    <img src="assets/images/home_page/mobile_app.png" alt="mobile app">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt_30 mb_40 our_company_back">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="fs_24 fw_700 text_red text_center mb_15 text_bottom_border pb_10">Our Associations</h3>
                <div class="fs_15 fw_400 text_dark text_center text_capitalize">Our Insurance Partner</div>
                <ul class="d_flex flex_Center text_center flex_Middel flex_wrap ul_style mt_40">
                    <li>
                        <div>
                            <img src="assets/images/company_logo/bharti-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/bajaj-allianz-life-insurance-company.png"
                                alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/digit-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/future-generali-insurance.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/hdfc-egro-general-insurance.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/icici-lombard-general-insurance.jpg"
                                alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/iffco-tokio-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/liberty-general-insurance.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/univeral-sompo-insurance-company.jpg"
                                alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/oriental-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/raheja-qbe-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/reliance-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/royal-sundram-general-insurance.jpg"
                                alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/sbi-general-insurance-company.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/shriram-general-insurance.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/Care_health_insurance.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/chola-ms.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/karshak.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/nationalinsurance.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/new-india.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/tata.jpg" alt="company logo">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/company_logo/UIIC_.jpg" alt="company logo">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="pt_60 pb_60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="fs_24 fw_700 text_red text_center mb_15 text_bottom_border pb_10 d_block">What our Clients
                    Say’s</h2>
                <div id="Ourtestmonial" class="owl-carousel owl-theme mt_40">
                    <div class="item">
                        <div
                            class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60 position-relative">
                            <small class="fs_46 position-absolute qute_icon"><i
                                    class="fa-solid fa-quote-right"></i></small>
                            <span class="border_red50 overflow-hidden d_block">
                                <!-- <img src={{img}} alt="profile" class="border_red50"> -->
                                <img src="assets/images/home_page/profile.png" alt="profile" class="border_red50">
                            </span>
                            <div class="text_center">
                                <div class=" fs_18 fw_600 text_red text_capitalize mb_15 ">Rahul Kumar</div>
                                <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">Purchasing a car
                                    insurance policy offered by a good insurance company is a very easy task on
                                    Gaadiinsurance. Every detail about the insurance company such as their history,
                                    plans offered, claim settlement ratio, and renewal
                                    process is clearly mentioned on the website which helps in choosing an insurance
                                    provider easily.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div
                            class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60 position-relative">
                            <small class="fs_46 position-absolute qute_icon"><i
                                    class="fa-solid fa-quote-right"></i></small>
                            <span class="border_red50 overflow-hidden d_block">
                                <!-- <img src={{img}} alt="profile" class="border_red50"> -->
                                <img src="assets/images/home_page/profile.png" alt="profile" class="border_red50">
                            </span>
                            <div class="text_center">
                                <div class=" fs_18 fw_600 text_red text_capitalize mb_15 ">Sunil Kumar</div>
                                <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">I was looking for a
                                    good car insurance plan which could insure my Varna. After a good research, I found
                                    the car insurance plan, and I bought the plan for my Varna. The plan is quite
                                    helpful and consists of all the necessary
                                    benefits. I am happy with my purchase. Thank you Gaadiinsurance!!</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div
                            class="background_white P_15 m_15 box_shadwo_light text_center border_red15px pt_60 position-relative">
                            <small class="fs_46 position-absolute qute_icon"><i
                                    class="fa-solid fa-quote-right"></i></small>
                            <span class="border_red50 overflow-hidden d_block">
                                <!-- <img src={{img}} alt="profile" class="border_red50"> -->
                                <img src="assets/images/home_page/profile.png" alt="profile" class="border_red50">
                            </span>
                            <div class="text_center">
                                <div class=" fs_18 fw_600 text_red text_capitalize mb_15 ">Vinod Kumar</div>
                                <div class="fs_14 fw_400 text_dark text_capitalize line_height_34">The Gaadiinsurance
                                    website is very well managed. All the things are arranged in such a way that it is
                                    easy for the user to locate everything on the website. I visited their website to
                                    buy the car insurance plan for my Chevrolet
                                    Aveo car. All the benefits and features of this plan were clearly displayed on the
                                    website.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt_40 mb_40 faq_blocks ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="fs_24 fw_700 text_red text_center mb_25 d_block text_bottom_border pb_10 ">Frequently Asked
                    Questions
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="accordion border_none" id="accordionExample">
                <div class="accordion-item border mb_15 border_red5px">
                    <h2 class="accordion-header" id="headingOne">
                        <button
                            class="accordion-button background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">About Company</button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body P_15">
                            <div class="fs_14 ">Our company pioneered in developing protocols to ensure the business's
                                smooth running. Our company's strength is its highly skilled and motivated employees.
                                Gaadi Insurance has developed numerous insurance products to fulfill
                                the needs of India's urban and rural people. We employ a technically qualified and
                                knowledgeable workforce to give you the best possible customer service. </div>
                            <div class="fs_14 mt_7 ">Our Company's purpose was "Service to Clients, " and achieving it
                                was aided by the strong traditions established over time.</div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border mb_15 border_red5px">
                    <h2 class="accordion-header" id="headingTwo">
                        <button
                            class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">Car Insurance</button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body P_15">
                            <div class="fs_14 ">We want you to be able to drive your automobile with complete confidence
                                and peace of mind. We protect you from the risk of losing millions of rupees with our
                                Car insurance coverage in India. When you get online vehicle insurance,
                                you can select from third-party car insurance, comprehensive car insurance, or even
                                stand-alone damage coverage, depending on your needs. Gaadi Insurance provides a variety
                                of third-party and comprehensive car insurance
                                policies online to assist you in determining the level of coverage and cover your car
                                requires. There are ten other auto insurance add-ons that you may purchase to expand
                                your comprehensive coverage further.</div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border mb_15 border_red5px">
                    <h2 class="accordion-header" id="headingThree">
                        <button
                            class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">Bike Insurance</button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body P_15">
                            <div class="fs_14 ">Our Two-wheeler insurance is a type of insurance that focuses on the
                                protection and coverage of motorcycles. It covers the cost of repairs if your bike is
                                damaged in an accident. Apart from accidents, it also provides financial
                                security against catastrophes such as thefts, natural disasters, vandalism, and so on,
                                as well as third-party liabilities. In India, bike insurance is required to safeguard
                                vehicle owners from financial hazards. We provide
                                one of the cheapest types of security you can get to avoid significant charges that may
                                arise as a result of an accident. The government is responsible for the safety of people
                                who travel by bike daily.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border mb_15 border_red5px">
                    <h2 class="accordion-header" id="headingFoure">
                        <button
                            class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure"
                            aria-expanded="false" aria-controls="collapseFoure">Health Insurance</button>
                    </h2>
                    <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body P_15">
                            <div class="fs_14 ">Our Health Insurance is one of the most reliable independent health
                                insurance providers. We have created reasonable and comprehensive healthcare policies to
                                meet the various needs of our customers. We want to assure every Indian
                                to seek the proper care possible by offering health insurance policies tailored to their
                                needs. Our creative and comprehensive health policies have propelled us to the top of
                                India's health insurance and medical insurance
                                industry. Every year, the top health insurance firms in India are announced. When
                                purchasing health insurance from an insurer, there are crucial elements, such as the
                                Incurred Claim Ratio, Claim Settlement Ratio, network
                                hospitals, etc.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border mb_15 border_red5px">
                    <h2 class="accordion-header" id="headingFive">
                        <button
                            class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">Travel Insurance</button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body P_15">
                            <div class="fs_14 ">We provide customized insurance that will protect you whether you are
                                traveling domestically or internationally. Our programs will assist you in dealing with
                                whatever issue arises. We are aware that seniors and students have
                                different needs. As a result, we've launched plans designed to fulfill their needs. Even
                                if there is a pandemic, you may travel safely with our arrangements. As a result, our
                                customers fondly recall our products as Travel
                                Medical Insurance. You can travel without worrying when you use our policies per your
                                needs.</div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border mb_15 border_red5px">
                    <h2 class="accordion-header" id="headingSix">
                        <button
                            class="accordion-button collapsed background_none click_btn py_5 px_10 w_100 fs_16 text_left fw_600"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                            aria-controls="collapseSix">Corporate Insurance</button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body P_15">
                            <div class="fs_14 ">Our Corporate insurance protects firms against unanticipated events to
                                reduce risk. To learn more, explore our plan or contact an expert. Similar to
                                individuals, businesses also require insurance. They need insurance to protect
                                the firm's operation and maintain its operation. There are different sorts of insurance,
                                and corporate insurance is an umbrella insurance policy that covers all standard
                                business-related insurance policies. Our Corporate
                                insurance protects you from all lawsuits arising from erroneous decisions made
                                unintentionally or negligently by management or workers.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>